
<div class="row">
  <div class="col-sm-12">

    <h2>Add New Program</h2>
    <style media="screen">
      select {
        width: 100%;
      }
      option {
        border-radius: 0;
      }
      input[type=text] {
        width: 100%
      }
      .row {
        margin: 10px 0px;
      }
    </style>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="name">Program Name</label>
          <input type="text" name="name" value="" class="form-control">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="program">Category</label>
          <select class="form-control" name="category">
            <option value="option" style="border-radius: 0;">Select One</option>
            <option ng-repeat="category in categories" name="{{category.name}}">{{category.title}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <a class="" ngf-select ng-model="image_program" name="file" ngf-pattern="'image/*'"
          ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
          ngf-resize="{width: 250, height: 250}">+ Upload Image</a>
      </div>
      <div class="col-sm-2">
      </div>
    </div>

    </div>
      <a class="btn btn-default" style="margin-top: 20px;
        display: inline-block;
        padding: 10px 60px;
        background: #50ACC4;
        color: #fff;" ng-click="submit()">SUBMIT</a>
  </div>
</div>
