
<div class="row">
  <div class="col-sm-6">

    <h2>Add New Program</h2>

    <div style="border: 1px solid #ccc; background: #F2F2F2; font-size: 16px;">
      <style media="screen">
        tr {
          line-height: 30px;
        }
        td {
          padding: 0px 10px;
        }
      </style>
      <form name="form">
        <table>
          <tr>
            <td width="80%">Program Name</td>
            <td width="20%">Category</td>
          </tr>
          <tr>
            <td>
              <input type="text" name="name" value="" style="width: 95%;">
            </td>
            <td>
              <select class="category" name="category">
                <option value="option" style="border-radius: 0;">Select One</option>
                <option ng-repeat="category in categories" name="{{category.name}}">{{category.title}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <a class="" ngf-select ng-model="image_program" name="file" ngf-pattern="'image/*'"
                ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                ngf-resize="{width: 250, height: 250}">+ Upload Image</a>
            </td>
          </tr>
          <tr>
            <td>
              <img ngf-thumbnail="image_program || '/thumb.jpg'" width="100%">
            </td>
          </tr>
        </table>
      </form>

    </div>
      <a style="margin-top: 20px;
        display: inline-block;
        padding: 10px 60px;
        background: #50ACC4;
        color: #fff;" ng-click="submit()">SUBMIT</a>
  </div>
</div>
