
<div class="row adminTemplate">
  <div class="col-sm-12">

    <h2>Add New Template</h2>

    <style media="screen">
      select {
        width: 100%;
      }
      option {
        border-radius: 0;
      }
      input[type=text] {
        width: 100%
      }
      .m-t-10 {
        margin: 10px 0px;
      }

      .adminTemplate {
        background: #F2F2F2;
        border: 1px solid #ccc;
      }
    </style>

    <div class="row m-t-10">
      <div class="col-sm-6">
        <label for="name">Template Name</label>
        <input type="text" name="name" value="" class="form-control" ng-model="template.name" required>
      </div>
      <div class="col-sm-6">
        <label for="program">Program</label>
        <select class="form-control program" name="program" ng-options="program.name for program in programList" ng-model="program" ng-change="setProgram(program)" required></select>
      </div>
    </div>
    <div class="row m-t-10">
      <div class="col-sm-4 text-right">
        <label for="number-question">Number of Questions</label>
      </div>
      <div class="col-sm-2">
        <select class="form-control number-question" name="number-questions" ng-options="item.number for item in items"  ng-model="number_questions" ng-change="setQuestion(number_questions)" required></select>
      </div>
    </div>
    <div class="row m-t-10">
      <div class="col-sm-4 text-right">
        <label for="number-question">Max Number of Answers</label>
      </div>
      <div class="col-sm-2">
        <select class="form-control max-number-question" name="number-answers" ng-options="item.number for item in items"  ng-model="number_answers" ng-change="setAnswer(number_answers)" required></select>
      </div>
    </div>
    <div class="row m-t-10">
      <div class="col-sm-4 text-right">
        <label for="number-question">Start Date & Time</label>
      </div>
      <div class="col-sm-6">
        <div class='input-group date' id='start-time'>
          <input class="datetimepicker form-control" type="text" ng-model="template.start_time" required>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="row m-t-10">
      <div class="col-sm-4 text-right">
        <label for="number-question">End Date & Time</label>
      </div>
      <div class="col-sm-6">
        <div class='input-group date' id='end-time'>
          <input class="datetimepicker form-control" type="text" ng-model="template.end_time" required>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
          </span>
        </div>
      </div>
    </div>

    <div class="row m-t-10">
      <div class="col-sm-12">
        <a class="btn btn-default m-t-10" style="margin-top: 20px;
            display: inline-block;
            padding: 10px 60px;
            background: #50ACC4;
            color: #fff;" ng-click="submit()">SUBMIT</a>
      </div>
    </div>
  </div>
</div>

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div data-toggle="modal" data-target="#add_template" id="showModal"></div>

<!-- Modal -->
<div class="modal" id="add_template" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">

        {{getNumber(number_questions)}}
        <div class="row">
          <div class="col-sm-12">
            <ul class="form-group" style="padding-left: 0; margin: 0px">
              <li ng-repeat="(i,question) in getNumber(number_questions) track by i" style="border-bottom: 1px solid #ccc; padding-bottom: 0px; margin-top: 20px;" class="list-group-item">
                <div class="form-group form-inline">
                  <label>
                    {{i}} {{question}}
                  </label>
                  <input type="text" ng-model="questions[i].title" class="form-control">
                </div>

                <div class="form-group form-inline">
                  <ul class="list-group">
                    <li ng-repeat="(x,answer) in getNumber(number_answers) track by x" class="list-group-item" style="height: 55px">
                      [ Answer: {{x}} {{answer}} ]
                      <input type="text" ng-model="questions[i].answers[x]" class="form-control">
                    </li>
                  </ul>
                </div>

              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="add_question()">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
