<div class="row tax">
  <div class="col-md-2">
    <div class="tag-menu-box">
      <div class="tag-menu" ng-click="taxMenu='gem'" ng-class="{'active': taxMenu=='gem'}">User List</div>
      <div class="tag-menu" ng-click="taxMenu='tax'" ng-class="{'active': taxMenu=='tax'}">Add User</div>
    </div>
  </div>


  <div class="col-md-10">
    <table class="table">
      <tr>
        <td>
          ID
        </td>
        <td>
          Email
        </td>
        <td>
          First name
        </td>
        <td>
          Last name
        </td>
      </tr>
      <tr ng-repeat="user in users">
        <td>
          {{user._id}}
        </td>
        <td>
          {{user.email}}
        </td>
        <td>
          {{user.first_name}}
        </td>
        <td>
          {{user.last_name}}
        </td>
      </tr>
    </table>
  </div>
</div>
