
<div class="row">
  <div class="col-sm-3">
    <div>
      1,236
      Contests
    </div>
    <div>
      29,876,555
      Coins
    </div>
  </div>
  <div class="col-sm-9">
    <ul>
      <li ng-repeat="question in questions" style="border-bottom: 1px solid #ccc;
    padding-bottom: 50px;
    margin-top: 20px;">
        {{question.title}}
        <ul>
          <li ng-repeat="answer in question.answers">
            <input type="radio" name="{{question.title}}"> {{answer}}
          </li>
        </ul>
        <a class="btn btn-default pull-right" style="    border: 0;
    outline: 0;
    border-radius: 0px;
    background: #ccc;" ui-sref="admin.programming">SUBMIT</a>
      </li>
    </ul>
  </div>
</div>
