<div class="row ledger">
  <div class="col-md-12">
    <div class="row">
    <h3>
      Ledger
      <div class="ledger-value-box pull-right">
        <span class="pull-left">$</span>
        <span class="pull-right">{{ getTotal() }}</span>
      </div>
    </h3>

    <div class="col-md-12" style="margin-top: 30px;">
      <div class="btn btn-primary" ng-click="filterToday()" style="background:#50ACC4;border-color:#dedede;">Just Today</div>
      <div style="display:inline-block;">From</div>
      <input class="datetimepicker form-control" style="width:100px;display:inline-block;" type="text" ng-model="filterDate.from" required>

      <div style="display:inline-block;">To</div>
      <input class="datetimepicker form-control" style="width:100px;display:inline-block;" type="text" ng-model="filterDate.to" required>

      <div class="btn btn-primary" ng-click="getDataByDate()"style="background:#50ACC4;border-color:#dedede;">Go</div>
    </div>

    <div class="col-md-12" style="margin-top: 20px;">

        <table class="transaction table table-bordered" style="border-radius: 0px;">
          <thead>
            <tr>
              <th>
                Code
              </th>
              <th>
                Date Time
              </th>
              <th>
                Username
              </th>
              <th>
                Transaction #
              </th>
              <th>
                Description
              </th>
              <th>
                Amount
              </th>
              <th>
                Balance
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ledger in ledgers" rowspan="{{ledger.transaction.length}}">
              <td class="text-center">
                <div ng-repeat="transaction in ledger.transaction">
                  <i class="fa" ng-class="{'fa-plus': transaction.action=='plus','fa-minus': transaction.action=='minus'}" aria-hidden="true"></i>
                </div>
              </td>
              <td class="b-text" style="vertical-align: middle;">
                {{ ledger.created_at | amDateFormat:'MM/DD/YYYY' }} <br>
                {{ ledger.created_at | amDateFormat:'HH:mm:ss' }}
              </td>
              <td>
                  <a href="#" ng-click="gotoUser(ledger.user.id)">
                    {{ ledger.user.username || ledger.user.email }}
                  </a>
              </td>
              <td>
                <div ng-repeat="transaction in ledger.transaction">
                  <a href="#" ng-click="transactionDetail(ledger, transaction)">
                    {{ transaction._id }}
                  </a>
                </div>
              </td>
              <td>
                <div ng-repeat="transaction in ledger.transaction">
                  ( {{transaction.description}} ) {{ transaction.from }} -> {{ transaction.to }}
                </div>
              </td>
              <td>
                <div ng-repeat="transaction in ledger.transaction">
                  <p ng-if="ledger.format != 'won'">
                    {{ transaction.amount }} {{ transaction.unit }}
                  </p>
                  <p ng-if="ledger.format == 'won'">
                    {{ transaction.amount - transaction.tax }} {{ transaction.unit }}
                  </p>
                </div>
              </td>
              <td style="vertical-align: middle;">
                <span>
                  {{ ledger.balance.coins }}
                  <img src="assets/images/Piggy Bank Icon.png" width="40">
                </span>
                <span style="color: #951111">
                  {{ ledger.balance.rubies }}
                  <i class="fa fa-diamond" aria-hidden="true"></i>
                </span>
                <span style="color: #2A4C7A">
                  {{ ledger.balance.sapphires }}
                  <i class="fa fa-diamond" aria-hidden="true"></i>
                </span>
                <span style="color: #758F42">
                  {{ ledger.balance.emeralds }}
                  <i class="fa fa-diamond" aria-hidden="true"></i>
                </span>
                <span style="color: #9F9B93">
                  {{ ledger.balance.diamonds }}
                  <i class="fa fa-diamond" aria-hidden="true"></i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="system-modal" ng-show="showLedgerModal">
    <div class="modal-bg" ng-click="showLedgerModal=false;refund=false;confirmRefund=false;"></div>
    <div class="context-box" style="height: 340px;width:350px;top: 15%;" ng-hide="refund || confirmRefund">
      <a class="close-btn" ng-click="showLedgerModal=false"><i class="fa fa-times" aria-hidden="true"></i></a>
      <div class="title b-text" style="text-align: left;">transaction_{{showLedgerModal.id}}</div>
      <div style="padding: 0px 10px;">
        <div class="ledger-detail-box">
          [amount]
        </div>
        <div class="ledger-detail-box">
          [payment_type]
        </div>
        <div class="ledger-detail-box">
          [description]
        </div>
        <div class="ledger-detail-box">
          [screen_name]
        </div>
        <div class="ledger-detail-box">
          [transaction_date]
        </div>
        <div class="ledger-detail-box">
          [transaction_time]
        </div>
      </div>
      <br>
      <div class="btn submit-btn pull-right" style="margin-right: 10px;" ng-click="showLedgerModal=false">CANCEL</div>
      <div class="btn submit-btn pull-right" style="margin-right: 10px;background:rgb(190,81,80);" ng-click="refund=true;">REFUND</div>

    </div>
    <div class="context-box" style="border-color: rgb(190,81,80);height: 280px; " ng-show="refund">
      <a class="close-btn" ng-click="showLedgerModal=false;refund=false;"><i style="color:rgb(190,81,80);" class="fa fa-times" aria-hidden="true"></i></a>
      <div class="title" style="color:rgb(190,81,80);">Refund [transacttion_{{showLedgerModal.id}}]</div>
      <div class="desc g-text">Are you sure?<br>Please provide detailed description.
      <br>
        <div style="padding: 10px">
          <textarea style="width: 100%;height: 80px;"></textarea>
        </div>
      <div class="btn submit-btn pull-right" style="margin-right: 10px;background:rgb(190,81,80);" ng-click="confirmRefund=true;refund=false;">YES, DISCARD</div>
      <div class="btn submit-btn pull-right" style="margin-right: 10px;" ng-click="showLedgerModal=false;refund=false;">NO, CANCEL</div>

      </div>

    </div>

    <div class="context-box" style="border-color: rgb(190,81,80);height: 250px; " ng-show="confirmRefund">
      <a class="close-btn" ng-click="showLedgerModal=false;refund=false;confirmRefund=false;"><i style="color:rgb(190,81,80);" class="fa fa-times" aria-hidden="true"></i></a>
      <div class="title" style="color:rgb(190,81,80);">Confirm Refund</div>
      <div class="desc g-text">Authorized user, enter your pin to confirm entry.<br><br>
        <input>
      </div>
      <div class="btn submit-btn" style="display:inherit;margin:auto;margin-top: 20px;" ng-click="showLedgerModal=false;refund=false;confirmRefund=false;">VERIFY</div>

    </div>
  </div>


</div>
