<div ng-include="'components/navbar/navbar.html'"></div>
<section class="prize" ng-hide="getPrice" ng-class="{hmb: itemSelected}">
  <div class="container">
    <div class="row" ng-init="cateFilter = '1'">
      <h3 style="margin-top: 0px;" class="pp-text">PRIZES</h3>
      <h5 class="g-text">Trade in your diamonds for prizes.</h5>
      <div class="catelog" ng-class="{active: cateFilter == '1'}" ng-click="cateFilter = 1">
        1 - 10 <i class="fa fa-diamond" aria-hidden="true"></i>
      </div>
      <div class="catelog" ng-class="{active: cateFilter == '2'}" ng-click="cateFilter = 2">
        11 - 25 <i class="fa fa-diamond" aria-hidden="true"></i>
      </div>
      <div class="catelog" ng-class="{active: cateFilter == '3'}" ng-click="cateFilter = 3">
        26 - 50 <i class="fa fa-diamond" aria-hidden="true"></i>
      </div>
      <div class="catelog" ng-class="{active: cateFilter == '4'}" ng-click="cateFilter = 4">
        51 - 100 <i class="fa fa-diamond" aria-hidden="true"></i>
      </div>
      <div class="catelog" ng-class="{active: cateFilter == 'all'}" ng-click="cateFilter = all">
        All <i class="fa fa-diamond" aria-hidden="true"></i>
      </div>
    </div>
    <div class="row catelog-item-box">
      <div class="catelog-item" ng-repeat="prize in prizes" ng-if="cateFilter == prize.tier">
        <div class="box row">
          <div class="name col-xs-12">
            <input type="checkbox" name="prize">
            {{prize.name}}
          </div>
          <div class="col-xs-10">
            <img ng-src="{{prize.picture}}" class="col-xs-12" />
          </div>
          <div class="col-xs-2">
            <div class="gem-count">{{prize.price}}</div>
            <div class="gem">
              <i class="fa fa-diamond" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row terms hmb" style="margin-top: 20px">
      <div class="term-text"><input type="checkbox"> I agree to the
        <span class="b-text">terms of purchase</span>
        and authorize ClubLoot to perform this transaction immediately.
      </div>
    </div>
    <div class="row hmb" style="margin-top: 10px;">
      <div class="btn get-prize" ng-disabled="!itemSelected" ng-click="getPrice = true">GET MY PRIZE</div>
    </div>
  </div>
</section>
<section class="prize-success" ng-show="getPrice">
  <div class="container">
    <div class="row" ng-init="cateFilter = '1'">
      <h3 style="margin-top: 0px;" class="pp-text">PRIZES</h3>
      <h5 class="g-text">
        We have recieved and are processing your order for Prize F.<br>
        Updates will be available on your Dashboard.
        <br><br><br>
        Share your prize with your friends.
        <br>
        <div style="font-size: 22px;margin-top: 5px;">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
      </h5>
    </div>
    <br><br>
    <div class="row" style="border-top: 1px solid #777; padding-top: 10px;">
      <div class="term-text" style="display: inline;">
        Questions? Email support 24/7 at
        <span class="b-text">help@clubloot.com</span>
      </div>
      <div class="btn get-prize" ng-click="goDashboard()">GO TO DASHBOARD</div>
    </div>
  </div>
</section>
<section class="prize-choose smb " ng-show="itemSelected && !confirmItem">
  <div class="container">
  <div class="row" ng-init="cateFilter = '1'">
    <h3 style="margin-top: 0px;" class="pp-text">PRIZES</h3>
    <h5 class="g-text" style="text-indent: 10px;">
    You have selected Prize {{itemSelected}}. Please confirm
    <br><br>
    <div class="item-selected-mb">
      <div class="name">Prize E</div>
    </div>
    <div class="gem-count">02<i class="fa fa-diamond" aria-hidden="true"></i></div>
    <div class="row btn-mb">
      <div class="btn get-prize" style="width: 100%;" ng-click="confirmItem= true">GET MY PRIZE</div>
    </div>
  </div>
</section>
<section class="prize-choose smb " ng-show="confirmItem">
  <div class="container">
    <div class="row" ng-init="cateFilter = '1'">
      <h3 style="margin-top: 0px;" class="pp-text">PRIZES</h3>
      <h5 class="g-text">
        We have recieved and are processing your order for Prize F.<br>
        Updates will be available on your Dashboard.
        <br><br><br>
        Share your prize with your friends.
        <br>
        <div style="font-size: 22px;margin-top: 5px;">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
      </h5>
    </div>
    <div class="row" style="padding-top: 10px;">
      <div class="term-text" style="display: inline;line-height: 20px;">
        Questions?<br>Email support 24/7 at
        <span class="b-text">help@clubloot.com</span>
      </div>
    </div>
  </div>
  <div class="row btn-mb">
    <div class="btn get-prize" style="width: 100%;"ng-click="goDashboard()">GO TO DASHBOARD</div>
  </div>
</section>
