section.prize
  font-weight: 300!important
.smb
  display: none
h1, h2, h3, h4, h5, div
  font-weight: 300!important
.pp-text
  color: rgb(128, 102, 160)
.g-text
  color: #777
.b-text
  color: rgb(96, 180, 209)
.catelog-item
  margin-top: 10px

.btn.get-prize
  background: #50ACC4
  border: 0px
  color: #fff
  float: right
  width: 200px
  font-weight: 300

.terms
  background: rgb(242, 242, 242)
  color: #999
  font-weight: 300
  padding-left: 10px
.term-text
  height: 30px
  line-height: 30px
  font-size: 14px

.catelog
  display: inline-block!important
  float: left
  cursor: pointer
  width: 20%
  height: 30px
  line-height: 30px
  border: 1px solid #dedede
  background: rgb(242, 242, 242)
  text-align: center
  color: rgb(96, 180, 209)
  &.active
    background: #fff
    color: #999

.catelog-item
  dispaly: inline-block
  width: 20%
  box-sizing: border-box
  float: left
  padding: 5px
  margin-top: 10px
  height: 130px
  min-width: 100px
  cursor: pointer
  &.active
    .box
      background: rgb(242, 242, 242)

  .prize-name
    text-align: center
    input
      text-align: left
  .prize-item
    margin-top: 20px
    img
      width: 80%
      display: inline-block
    .gem
      width: 20%
      position: absolute
      bottom: 10px
      right: 5px
  .box
    width: 100%
    height: 100%
    border: 1px solid #dedede
  .name, .gem-count, .gem
    width: 100%
    text-align: center
    color: #999
  .name
    font-size: 17px
    // margin-top: 20px
  .gem-count
    margin-top: 25px

@media (max-width: 668px)
  .smb
    display: block
  .hmb
    display: none
  .btn-mb
    position: absolute
    bottom: 0px
    margin: 0
    left: 0px
    right: 0px
    padding: 10px
  .item-selected-mb
    position: relative
    width: 200px
    height: 150px
    margin: auto
    margin-top: 20px
    border: 1px solid #dedede
    .name
      position: absolute
      width: 100%
      text-align: center
      top: 50%
      margin-top: -10px
  .prize-choose
    padding: 10px
    .gem-count
      margin-top: 10px
      width: 100%
      text-align: center
  .catelog-item
    margin-top: 0px
  .catelog
    height: 40px
    line-height: 40px
  .catelog-item
    padding: 0px
    margin-top: 0px
    width: 100%
    height: 40px
    .box
      border: 0px
      border-bottom: 1px solid #dedede
    .name, .gem-count, .gem
      margin-top: 0px
      max-width: 80px
      line-height: 40px
    .name
      float: left
    .gem
      float: right
    .gem-count
      position: absolute
      right: 50px
      text-align: right
