<div ng-include="'components/navbar/navbar.html'"></div>
<section class="prize" ng-hide="getPrice" ng-class="{hmb: itemSelected}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12" ng-init="cateFilter = '1'">
        <h3 style="margin-top: 0px;" class="pp-text">PRIZES</h3>
        <h5 class="g-text" ng-if="!prize_select.selected.length">Trade in your diamonds for prizes.</h5>
        <h5 class="g-text" ng-if="prize_select.selected.length > 0">You have selected Prize {{itemSelected}}. Please confirm</h5>
        <!-- <div class="item-selected-mb">
          <div class="name" style="display: inline-block" ng-repeat="s in prize_select.selected">{{s.name}}</div>
        </div> -->

        <div class="catelog" ng-class="{active: cateFilter == '1'}" ng-click="cateFilter = 1">
          1 - 10 <i class="fa fa-diamond" aria-hidden="true"></i>
        </div>
        <div class="catelog" ng-class="{active: cateFilter == '2'}" ng-click="cateFilter = 2">
          11 - 25 <i class="fa fa-diamond" aria-hidden="true"></i>
        </div>
        <div class="catelog" ng-class="{active: cateFilter == '3'}" ng-click="cateFilter = 3">
          26 - 50 <i class="fa fa-diamond" aria-hidden="true"></i>
        </div>
        <div class="catelog" ng-class="{active: cateFilter == '4'}" ng-click="cateFilter = 4">
          51 - 100 <i class="fa fa-diamond" aria-hidden="true"></i>
        </div>
        <div class="catelog" ng-class="{active: cateFilter == 'all'}" ng-click="cateFilter = 'all'">
          All <i class="fa fa-diamond" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="catelog-item-box">
          <div class="catelog-item"
               ng-repeat="prize in prizes"
               ng-if="cateFilter == 'all' || cateFilter == prize.tier"
               ng-click="clickPrize(prize)"
               ng-mouseover="hoverIn()"
               ng-mouseleave="hoverOut()">
            <div class="box defaultItem defaultItem-{{ prize._id }}" ng-show="defaultItem">
              <div class="col-xs-12 prize-name">
                Prize {{ alphabets[$index] }}
              </div>
              <div class="col-xs-12 prize-item">
                <div class="gem">
                  {{ prize.price }}
                  <i class="fa fa-diamond" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <div class="box hoverItem hoverItem-{{ prize._id }}" ng-show="hoverItem">
              <div class="col-xs-12 prize-name">
                <input type="checkbox" id="{{prize._id}}" name="prize" checklist-model="prize_select.selected" checklist-value="prize">
                {{ prize.name }}
              </div>
              <div class="col-xs-12 prize-item">
                <img ng-src="{{ prize.picture }}" class="col-xs-12" />
                <div class="gem">
                  {{ prize.price }}
                  <i class="fa fa-diamond" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="terms hmb" style="margin-top: 20px">
          <div class="term-text"><input type="checkbox" ng-model="agree"> I agree to the
            <span class="b-text">terms of purchase</span>
            and authorize ClubLoot to perform this transaction immediately.
          </div>
        </div>
      </div>
    </div>

    <div class="row hmb" style="margin-top: 10px;">
      <div class="btn get-prize" ng-disabled="!agree" ng-click="getMyPrize()">GET MY PRIZE</div>
    </div>
  </div>
</section>

<section class="prize-success" ng-show="getPrice">
  <div class="container">
    <div class="row" ng-init="cateFilter = '1'">
      <h3 style="margin-top: 0px;" class="pp-text">PRIZES</h3>
      <h5 class="g-text">
        We have recieved and are processing your order for <span ng-repeat="s in prize_select.selected"> {{s.name}}</span><br>
        Updates will be available on your Dashboard.
        <br><br><br>
        Share your prize with your friends.
        <br>
        <div style="font-size: 22px;margin-top: 5px;">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
      </h5>
    </div>
    <br><br>
    <div class="row" style="border-top: 1px solid #777; padding-top: 10px;">
      <div class="term-text" style="display: inline;">
        Questions? Email support 24/7 at
        <span class="b-text">help@clubloot.com</span>
      </div>
      <div class="btn get-prize" ng-click="goDashboard()">GO TO DASHBOARD</div>
    </div>
  </div>
</section>
