<div class="row announcement">
  <div class="col-md-6">
    <h5>Today's Loot</h5>
    <div class="row" style="margin-top: 30px;">
      <div class="a-value-box col-md-4" ng-click="showSystemModal='100,243'">
        <div class="in-value-box" ng-class="{'blue-box': showSystemModal=='100,243'}">
          <div class="num">{{signinCounts}}</div>
          <div class="title">Sign Ins</div>
        </div>
      </div>
      <div class="a-value-box col-md-4" ng-click="showSystemModal='200,468,000'">
        <div class="in-value-box" ng-class="{'blue-box': showSystemModal=='200,468,000'}">
          <div class="num">{{lootClaimed | currency:"":0}}</div>
          <div class="title">Loot Claimed</div>
        </div>
      </div>
      <div class="a-value-box col-md-4" ng-click="showSystemModal='139,532,000'">
        <div class="in-value-box" ng-class="{'blue-box': showSystemModal=='139,532,000'}">
          <div class="num">139,532,000</div>
          <div class="title">Loot Remaining</div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 10px;padding: 0px 5px;">
      <div class=col-md-12"">
        <div class="pull-left">
          Loot History
        </div>
        <div class="pull-right">
          <select>
            <option value="volvo">Last 15 days</option>
            <option value="saab">Last 30 days</option>
            <option value="mercedes">Last 45 days</option>
            <option value="audi">Last 60 days</option>
          </select>
        </div>

      </div>
      <div class="col-md-12" style="margin-top: 20px;">
        <nvd3 options='options' data='data'></nvd3>
      </div>
    </div>

  </div>

  <div class="col-md-6">
    <h5 style="font-weight: 600!important;font-size:16px;">Today's Loot Claimed</h5>
    <ul class="list-group">



      <li class="list-group-item" ng-repeat="c in todayClaimed" ng-class="{menuactive: menu=='Academy Awards'}" ng-click="menu='Academy Awards'">
        <span class="pull-left b-text">{{c.user.name || c.user.email}}</span>
        <span class="pull-right g-text">{{c.amount}} Coins</span>
      </li>

    </ul>

  </div>

  <div class="system-modal" ng-show="showSystemModal">
    <div class="modal-bg" ng-click="showSystemModal=false"></div>
    <div class="context-box" ng-hide="verify">
      <a class="close-btn" ng-click="showSystemModal=false"><i class="fa fa-times" aria-hidden="true"></i></a>
      <div class="title b-text">{{showSystemModal}}</div>
      <div class="desc g-text" style="margin-bottom: 10px;">Allocation Method<br>
        <select style="width: 100px;margin: auto;display: inherit;">
          <option value="volvo">Last 15 days</option>
          <option value="saab">Last 30 days</option>
          <option value="mercedes">Last 45 days</option>
          <option value="audi">Last 60 days</option>
        </select>
      </div>
      <div class="desc g-text" style="margin-bottom: 10px;">Coins Remaining<br>
        <input style="margin-top: 0px;">
      </div>

      <div class="btn submit-btn" style="display:inherit;margin:auto;margin-top: 20px;" ng-click="verify=true">ADJUST</div>

    </div>
    <div class="context-box" ng-show="verify">
      <a class="close-btn" ng-click="showSystemModal=false"><i class="fa fa-times" aria-hidden="true"></i></a>
      <div class="title b-text">Pin</div>
      <div class="desc g-text">Authorized user, enter your pin to confirm submission.<br><br>
        <input>
      </div>
      <div class="btn submit-btn" style="display:inherit;margin:auto;margin-top: 20px;" ng-click="showSystemModal=false">VERIFY</div>

    </div>
  </div>

</div>