<article class="content responsive-tables-page">

  <div class="title-block">
    <h1 class="title"> Contest Tables</h1>
    <%#<p class="title-description"> When blocks aren't enough </p>%>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="card-title-block">
              <h3 class="title">  </h3>
            </div>
            <section class="example">
              <div class="table-flip-scroll">
                <table class="table table-bordered table-hover flip-content">
                  <thead class="flip-header">
                    <tr>
                      <th>Name</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @contests.each do |contest| %>
                      <tr class="odd gradeX">
                        <td class="center-left"><%= contest.name %></td>
                        <td class="center-center"><%= link_to 'Details', contest %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
