<%= form_for(template) do |f| %>
  <% if template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <label for="example-text-input" class="col-3 col-form-label">Name</label>
    <div class="col-9">
      <input class="form-control" type="text" value="Name" id="example-text-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-search-input" class="col-3 col-form-label">Program Id</label>
    <div class="col-9">
      <input class="form-control" type="search" value="Program Id" id="example-search-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-email-input" class="col-3 col-form-label">Number Questions</label>
    <div class="col-9">
      <input class="form-control" type="email" value="Number Questions" id="example-email-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-url-input" class="col-3 col-form-label">Number Answers</label>
    <div class="col-9">
      <input class="form-control" type="url" value="Number Answers" id="example-url-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-tel-input" class="col-3 col-form-label">Question</label>
    <div class="col-9">
      <input class="form-control" type="tel" value="Question" id="example-tel-input">
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
