
<div class="row">
  <div class="col-sm-6">
    <h2>Program List</h2>
    <table class="table">
      <tr ng-repeat="list in programList">
        <td>
          <a ng-click="active(list)">
            <i ng-if="list.active" class="fa fa-play" aria-hidden="true" style="border: 1px solid #57B1C9;
            padding: 7px 10px; color: #57B1C9; border-radius: 5px"></i>
            <i ng-if="!list.active" class="fa fa-pause" aria-hidden="true" style="border: 1px solid #BE5150;
            padding: 7px 10px; color: #BE5150; border-radius: 5px"></i>
            <span style="color: #57B1C9"> {{list.name}}</span>
          </a>
        </td>
        <td class="text-right">
          [active_contests]
        </td>
      </tr>
    </table>
  </div>
</div>
