<article class="content item-editor-page">
  <div class="title-block">
    <h3 class="title">
      Add new program <span class="sparkline bar" data-type="bar"></span>
    </h3>
  </div>
  <%= link_to 'Back', programs_path, class: 'btn btn-primary btn-sm rounded-s' %>
  <%= render 'form', program: @program %>
</article>
