<div class="navbar navbar-clubloot navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand" style="padding: 0">
        <img src="assets/images/logo.png" height="50">
      </a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}" style="color: #fff">{{item.title}}</a>
        </li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav" style="margin-left: 20px">
        <li><a href="/contest/new" style="color: #fff"><img src="assets/images/Trophy Icon (White).png" height="16">&nbsp;&nbsp;&nbsp;New Contest</a></li>
        <li><a href="/add_coin" style="color: #fff"><img src="assets/images/Money Bag Icon (White).png" height="16">&nbsp;&nbsp;&nbsp;Add Coins</a></li>
        <li><a href="/convert_gems" style="color: #fff"><img src="assets/images/Conversion Arrows (White).png" height="20">&nbsp;Convert Gems</a></li>
      </ul>

      <ul class="nav navbar-nav" style="margin-left: 20px">
        <li>
          <input type="searh" name="name" value="" style="border-radius: 5px; border-radius: 5px; outline: none; border: none; padding: 2px 15px; width: 150px; margin-top: 13px;">
          <i class="fa fa-search" aria-hidden="true" style="margin-left: -150px; color: #50ACC4"></i>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup" style="color: #fff">Sign up</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login" style="color: #fff">Login</a></li>
        <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
