<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container desktop" style="color: #93898A">
  <div ng-include="'components/dashboard/score.html'"></div>
  <div class="row">
    <div class="col-xs-12 active-filter" style="font-size: 20px;border: 1px solid #ccc; line-height: 50px; color: #42A3BE; background: #F0F0F0; cursor: pointer;">Joined Contests</div>
    <div>
      <div ng-repeat="contest in contests" class="col-lg-12" style="border-bottom: 1px solid #ccc; line-height:50px; font-size: 18px; color: #42A3BE; cursor: pointer">
        <div style="width: 10%; display: inline-block; float:left;">
          {{contest.fee}} <img src="assets/images/money-bag-blue.png" width="24">
        </div>
        <div style="width: 10%; display: inline-block; float:left; color: #912927">
        <div gem-repeat="" fee="{{contest.fee}}" player="{{contest.max_player}}" gemcount="{{calGem(contest.fee, contest.max_player).count}}">
        </div>
        </div>
        <div style="width: 40%; display: inline-block; float:left;" ui-sref="contestshow({contest: contest._id, liveDashboard: true})">
          <div ng-if="contest.owner == currentUser.email || contest.owner == currentUser.username" style="display: inline-block; width: 30px; height: 30px; border-radius: 15px; font-size: 16px; line-height: 30px; text-align: center; border: 1px solid">H</div>
          {{contest.name}}
        </div>
        <div style="width: 20%; display: inline-block; float:left;">{{contest.program}}</div>
        <div style="width: 15%; display: inline-block; float:left;">{{contest.player.length}} / {{contest.max_player}} Player</div>
        <div style="width: 5%; display: inline-block; float:left; text-align: center;">
          <div style="color: #fff; background: #26AE58;" ui-sref="contestshow({contest: contest._id, liveDashboard: true, viewPlayer: true})">View</div>
        </div>
      </div>
    </div>
  </div>
</div>
