<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid phone">
  <div class="row">
    <div class="col-lg-12" style="font-size: 20px; color: #625F80;">
      <h2 style="color: #8066A0">{{$root.currentUser.email}} Dashboard</h2>

      <div style="padding: 5px 0px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;">
        <div style="font-size: 20px; line-height: 27px; display: inline-block; float: left; width: 90%;">Announcements</div>
        <div style="font-size: 20px; line-height: 27px; background: #B84644; color: #fff; width: 10%; text-align: center;" class="pull-right">03</div>
        <div style="clear: both;"></div>
      </div>

      <div style="padding: 5px 0px; border-bottom: 1px solid #ccc;">
        <div style="font-size: 20px; line-height: 27px; display: inline-block; float: left; width: 90%;">Wins</div>
        <div style="font-size: 20px; line-height: 27px; background: #755998; color: #fff; width: 10%; text-align: center;" class="pull-right">08</div>
        <div style="clear: both;"></div>
      </div>

      <div style="padding: 5px 0px; border-bottom: 1px solid #ccc;">
        <div style="font-size: 20px; line-height: 27px; display: inline-block; float: left; width: 90%;">Live Contests</div>
        <div style="font-size: 20px; line-height: 27px; background: #42A3BE; color: #fff; width: 10%; text-align: center;" class="pull-right">04</div>
        <div style="clear: both;"></div>
      </div>

      <div style="padding: 5px 0px; border-bottom: 1px solid #ccc;">
        <div style="font-size: 20px; line-height: 27px; display: inline-block; float: left; width: 90%;">Upcoming Contests</div>
        <div style="font-size: 20px; line-height: 27px; background: #42A3BE; color: #fff; width: 10%; text-align: center;" class="pull-right">03</div>
        <div style="clear: both;"></div>
      </div>

      <div style="margin: 15px 0px"></div>

      <div style="font-size: 20px; line-height: 27px;">My Loot</div>

      <div style="border-radius: 5px; border: 1px solid #ccc; padding: 5px 30px;">
        <img src="assets/images/Piggy Bank Icon.png" width="32">
        <span class="pull-right">567,250</span>
      </div>
      <div style="border-radius: 5px; border: 1px solid #ccc; margin-top: 10px; padding: 5px 30px;">
        <i class="fa fa-diamond" aria-hidden="true" style="color: #951111"></i>
        <span class="pull-right">31</span>
      </div>
      <div style="border-radius: 5px; border: 1px solid #ccc; margin-top: 10px; padding: 5px 30px;">
        <i class="fa fa-diamond" aria-hidden="true" style="color: #2A4C7A"></i>
        <span class="pull-right">9</span>
      </div>
      <div style="border-radius: 5px; border: 1px solid #ccc; margin-top: 10px; padding: 5px 30px;">
        <i class="fa fa-diamond" aria-hidden="true" style="color: #758F42"></i>
        <span class="pull-right">22</span>
      </div>
      <div style="border-radius: 5px; border: 1px solid #ccc; margin-top: 10px; padding: 5px 30px;">
        <i class="fa fa-diamond" aria-hidden="true" style="color: #9F9B93"></i>
        <span class="pull-right">5</span>
      </div>
    </div>
  </div>
</div>

<div class="container desktop" style="color: #93898A">
  <div class="row">
    <div class="col-lg-12">
      <h2 style="color: #8066A0">{{$root.currentUser.email}} Dashboard</h2>
      <!-- <div class="text-head">Announcements</div>
      <div class="text-notification" style="color: #C45852; border: 1px solid #C45852">
        Contest Alert! Anthony’s Academy Awards Group starting in 12 hr 39 min
        <img src="assets/images/x-warning.png" width="24" class="pull-right">
      </div>
      <div class="text-notification">
        Invite friends – get 5,000 coins for every friend that signs up
        <img src="assets/images/x.png" width="20" class="pull-right">
      </div>
      <div class="text-notification">
        Login 10 consecutive days – get 10,000 bonus coins
        <img src="assets/images/x.png" width="20" class="pull-right">
      </div> -->
    </div>
  </div>
  <div style="margin-top: 25px;"></div>
  <div class="row">
    <div class="text-head" style="width: 80%; display: inline">
      <div class="flex-main-container">
        <div class="flex-main-header-left">
          Wins
        </div>
        <div style="width: 50px"></div>
        <div class="flex-main-header-right">
          My Loot
        </div>
      </div>
      <div class="flex-main-container">
        <div class="flex-main-item" style="background: #8066A0; border: 0px; padding-top: 25px; color: #fff; font-size: 35px;">
          80
        </div>
        <div style="width: 50px"></div>
        <div class="flex-main-item">
          {{$root.currentUser.coins | currency:"":0}}<br>
          <img src="assets/images/Piggy Bank Icon.png" width="44">
        </div>
        <div class="flex-main-item" style="color: #951111">
          {{$root.currentUser.rubies}} <br>
          <i class="fa fa-diamond" aria-hidden="true"></i>
        </div>
        <div class="flex-main-item" style="color: #2A4C7A">
          {{$root.currentUser.sapphires}} <br>
          <i class="fa fa-diamond" aria-hidden="true"></i>
        </div>
        <div class="flex-main-item" style="color: #758F42">
          {{$root.currentUser.emeralds}} <br>
          <i class="fa fa-diamond" aria-hidden="true"></i>
        </div>
        <div class="flex-main-item" style="color: #9F9B93">
          {{$root.currentUser.diamonds}} <br>
          <i class="fa fa-diamond" aria-hidden="true"></i>
        </div>
      </div>
  </div>
  <div style="margin-top: 25px;"></div>
  <div class="row">
    <div ng-click="setFilter('live')" ng-class="{'active-filter': live}" class="col-lg-6" style="font-size: 20px;border: 1px solid #ccc; line-height: 50px; color: #42A3BE; background: #F0F0F0; cursor: pointer;">Live Contests</div>
    <div ng-click="setFilter('upcoming')" ng-class="{'active-filter': upcoming}" class="col-lg-6" style="font-size: 20px;border: 1px solid #ccc; line-height: 50px; color: #42A3BE; background: #F0F0F0; cursor: pointer;">Upcoming Contests</div>

    <div ng-show="live == true">
      <div ng-repeat="contest in contests" ng-if="contest.stage == 'finish'" class="col-lg-12" style="border-bottom: 1px solid #ccc; line-height:50px; font-size: 18px; color: #42A3BE;">
        <div style="width: 10%; display: inline-block; float:left;">
          {{contest.fee}} <img src="assets/images/money-bag-blue.png" width="24">
        </div>
        <div style="width: 10%; display: inline-block; float:left; color: #912927">
          {{contest.coins}} <i class="fa fa-diamond" aria-hidden="true"></i>
        </div>
        <div style="width: 45%; display: inline-block; float:left;">
          <div ng-if="contest.owner == currentUser.email" style="display: inline-block; width: 30px; height: 30px; border-radius: 15px; font-size: 16px; line-height: 30px; text-align: center; border: 1px solid">H</div>
          {{contest.name}}
        </div>
        <div style="width: 20%; display: inline-block; float:left;">{{contest.program}}</div>
        <div style="width: 7%; display: inline-block; float:left;">{{contest.player.length}} Q</div>
        <div style="width: 8%; display: inline-block; float:left; text-align: center;">
          <div style="color: #fff; background: #02A647;">Live</div>
        </div>
      </div>
    </div>

    <div ng-show="upcoming == true">
      <div ng-repeat="contest in contests" ng-if="contest.stage == 'runing'" class="col-lg-12" style="border-bottom: 1px solid #ccc; line-height:50px; font-size: 18px; color: #42A3BE;">
        <div style="width: 10%; display: inline-block; float:left;">
          {{contest.fee}} <img src="assets/images/money-bag-blue.png" width="24">
        </div>
        <div style="width: 10%; display: inline-block; float:left; color: #6D8837">
          {{contest.coins}} <i class="fa fa-diamond" aria-hidden="true"></i>
        </div>
        <div style="width: 45%; display: inline-block; float:left;">
          <div style="display: inline-block; width: 30px; height: 30px; border-radius: 15px; font-size: 16px; line-height: 30px; text-align: center; border: 1px solid">H</div>
          {{contest.name}}
        </div>
        <div style="width: 20%; display: inline-block; float:left;">{{contest.program}}</div>
        <div style="width: 7%; display: inline-block; float:left;">{{contest.player.length}} Q</div>
        <div style="width: 8%; display: inline-block; float:left; text-align: center;">
          <div style="color: #BB0E0E;">Upcoming</div>
        </div>
      </div>
    </div>
    <!-- <div ng-if="live" class="col-lg-12" style="border-bottom: 1px solid #ccc; line-height:50px; font-size: 18px; color: #42A3BE;">
      <div style="width: 10%; display: inline-block; float:left;">
        60,000 <img src="assets/images/money-bag-blue.png" width="24">
      </div>
      <div style="width: 10%; display: inline-block; float:left; color: #A7A6A0">
        02 <i class="fa fa-diamond" aria-hidden="true"></i>
      </div>
      <div style="width: 45%; display: inline-block; float:left;">
        <div style="display: inline-block; width: 30px; height: 30px; border-radius: 15px; font-size: 16px; line-height: 30px; text-align: center; border: 1px solid">P</div>
        Frat Boys of Beverly Hills
      </div>
      <div style="width: 20%; display: inline-block; float:left;">Survivor</div>
      <div style="width: 7%; display: inline-block; float:left;">02 Q</div>
      <div style="width: 8%; display: inline-block; float:left; text-align: center;">
        <div style="color: #fff; background: #02A647;">Live</div>
      </div>
    </div>
    <div ng-if="live" class="col-lg-12" style="border-bottom: 1px solid #ccc; line-height:50px; font-size: 18px; color: #42A3BE;">
      <div style="width: 10%; display: inline-block; float:left;">
        12,000 <img src="assets/images/money-bag-blue.png" width="24">
      </div>
      <div style="width: 10%; display: inline-block; float:left; color: #1C3F71">
        05 <i class="fa fa-diamond" aria-hidden="true"></i>
      </div>
      <div style="width: 45%; display: inline-block; float:left;">
        <div style="display: inline-block; width: 30px; height: 30px; border-radius: 15px; font-size: 16px; line-height: 30px; text-align: center; border: 1px solid">H</div>
        Gerson Family Academy Challenge
      </div>
      <div style="width: 20%; display: inline-block; float:left;">Academy Awards</div>
      <div style="width: 7%; display: inline-block; float:left;">40 Q</div>
      <div style="width: 8%; display: inline-block; float:left; text-align: center;">
        <div style="color: #fff; background: #02A647;">Live</div>
      </div>
    </div>
    <div ng-if="live" class="col-lg-12" style="border-bottom: 1px solid #ccc; line-height:50px; font-size: 18px; color: #42A3BE;">
      <div style="width: 10%; display: inline-block; float:left;">
        25,000 <img src="assets/images/money-bag-blue.png" width="24">
      </div>
      <div style="width: 10%; display: inline-block; float:left; color: #6D8837">
        01 <i class="fa fa-diamond" aria-hidden="true"></i>
      </div>
      <div style="width: 45%; display: inline-block; float:left;">
        <div style="display: inline-block; width: 30px; height: 30px; border-radius: 15px; font-size: 16px; line-height: 30px; text-align: center; border: 1px solid">P</div>
        Gerson’s Couchsurfing Brothers
      </div>
      <div style="width: 20%; display: inline-block; float:left;">Big Brother</div>
      <div style="width: 7%; display: inline-block; float:left;">05 Q</div>
      <div style="width: 8%; display: inline-block; float:left; text-align: center;">
        <div style="color: #fff; background: #B7B7B7;">End</div>
      </div>
    </div> -->



    <!--<div ng-if="upcoming" class="col-lg-12" style="border-bottom: 1px solid #ccc; line-height:50px; font-size: 18px; color: #42A3BE;">
      <div style="width: 10%; display: inline-block; float:left;">
        1,000 <img src="assets/images/money-bag-blue.png" width="24">
      </div>
      <div style="width: 10%; display: inline-block; float:left; color: #6D8837">
        20 <i class="fa fa-diamond" aria-hidden="true"></i>
      </div>
      <div style="width: 45%; display: inline-block; float:left;">
        <div style="display: inline-block; width: 30px; height: 30px; border-radius: 15px; font-size: 16px; line-height: 30px; text-align: center; border: 1px solid">H</div>
        Secret Poker Players
      </div>
      <div style="width: 20%; display: inline-block; float:left;">Golden Globe</div>
      <div style="width: 7%; display: inline-block; float:left;">38 Q</div>
      <div style="width: 8%; display: inline-block; float:left; text-align: center;">
        <div style="color: #BB0E0E;">12:39</div>
      </div>
    </div>
    <div ng-if="upcoming" class="col-lg-12" style="border-bottom: 1px solid #ccc; line-height:50px; font-size: 18px; color: #42A3BE;">
      <div style="width: 10%; display: inline-block; float:left;">
        400,000 <img src="assets/images/money-bag-blue.png" width="24">
      </div>
      <div style="width: 10%; display: inline-block; float:left; color: #A7A6A0">
        09 <i class="fa fa-diamond" aria-hidden="true"></i>
      </div>
      <div style="width: 45%; display: inline-block; float:left;">
        <div style="display: inline-block; width: 30px; height: 30px; border-radius: 15px; font-size: 16px; line-height: 30px; text-align: center; border: 1px solid">H</div>
        Trash Talkers Viewing Crew
      </div>
      <div style="width: 20%; display: inline-block; float:left;">Big Brother</div>
      <div style="width: 7%; display: inline-block; float:left;">05 Q</div>
      <div style="width: 8%; display: inline-block; float:left; text-align: center;">
        <div style="color: #42A3BE;">Jun 24</div>
      </div>
    </div>
    <div ng-if="upcoming" class="col-lg-12" style="border-bottom: 1px solid #ccc; line-height:50px; font-size: 18px; color: #42A3BE;">
      <div style="width: 10%; display: inline-block; float:left;">
        50,000 <img src="assets/images/money-bag-blue.png" width="24">
      </div>
      <div style="width: 10%; display: inline-block; float:left; color: #912927">
        10 <i class="fa fa-diamond" aria-hidden="true"></i>
      </div>
      <div style="width: 45%; display: inline-block; float:left;">
        <div style="display: inline-block; width: 30px; height: 30px; border-radius: 15px; font-size: 16px; line-height: 30px; text-align: center; border: 1px solid">H</div>
        Westside Viewers & Couch Surfers
      </div>
      <div style="width: 20%; display: inline-block; float:left;">Academy Awards</div>
      <div style="width: 7%; display: inline-block; float:left;">40 Q</div>
      <div style="width: 8%; display: inline-block; float:left; text-align: center;">
        <div style="color: #F68B3E;">72:09</div>
      </div>
    </div>-->
  </div>
</div>