<div ng-include="'components/navbar/navbar.html'"></div>

<!-- <header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header> -->

<div class="container" style="color: #93898A">
  <!-- <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form> -->

  <div class="row">
    <div class="col-lg-12">
      <h2 style="color: #8066A0">Anthony's Dashboard</h2>
      <div class="text-head">Announcements</div>
      <div class="text-notification" style="color: #C45852; border: 1px solid #C45852">
        Contest Alert! Anthony’s Academy Awards Group starting in 12 hr 39 min
        <img src="assets/images/x-warning.png" width="24" class="pull-right">
      </div>
      <div class="text-notification">
        Invite friends – get 5,000 coins for every friend that signs up
        <img src="assets/images/x.png" width="20" class="pull-right">
      </div>
      <div class="text-notification">
        Login 10 consecutive days – get 10,000 bonus coins
        <img src="assets/images/x.png" width="20" class="pull-right">
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 25px;">
      <!-- <div style="background: #8066A0; height: 130px; margin: 10px"></div> -->
    <div class="text-head" style="width: 80%; display: inline">
      <div class="flex-main-container">
        <div class="flex-main-item" style="background: #8066A0; border: 0px">
          1
        </div>
        <div style="width: 50px">
        </div>
        <div class="flex-main-item">
          1
        </div>
        <div class="flex-main-item">
          2
        </div>
        <div class="flex-main-item">
          3
        </div>
        <div class="flex-main-item">
          4
        </div>
        <div class="flex-main-item">
          5
        </div>
      </div>
  </div>
  <!-- <div class="row">
    <div class="col-lg-6">Live Contests</div>
    <div class="col-lg-6">Upcoming Contests</div>
  </div> -->
</div>

<!-- <footer class="footer">
  <div class="container">
      <p>Angular Fullstack v0.1.4 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/harryoh/generator-coffee-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer> -->
