<div ng-include="'components/navbar/navbar.html'"></div>

<section class="convert-gem" ng-hide="getPrice" ng-class="{hmb: itemSelected}">
  <div class="container">
    <div class="row" ng-init="cateFilter = '1'">
        <div class="col-md-12 col-sm-12">
          <h3 style="margin-top: 0px;" class="pp-text"><i class="fa fa-exchange" aria-hidden="true"></i> Convert Gems</h3>
          <h5 class="g-text" style="line-height: 20px;">Convert lower value gems to higher value gems.<br>Only Diamonds can be traded for prizes.</h5>
          <h5 class="g-text" style="margin-top: 20px;">Click on the arrow to convert the disired gem type.</h5>


          <div class="col-md-12 convert-box">
            <div class="gem-box">
              <span style="color: #9E093F; font-size: 16pt;">{{gems.sapphire.rate}}</span>
              <i class="fa fa-diamond gem-red" aria-hidden="true"></i>
              <span class="gem-name g-text">Ruby</span>
            </div>

            <span class="arrow"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>

            <div class="gem-box">
              <i class="fa fa-diamond gem-blue" aria-hidden="true"></i>
              <span class="gem-name g-text">Sapphire</span>
            </div>

            <div class="btn btn-primary" ng-click="convertGem('sapphire')" style="height: 39px;line-height: 28px;background: #50ACC4;border: 0px;margin-top: -6px;margin-left: 20px;">
            Exchange Fee 10,000 coins
            </div>

          </div>

          <div class="col-md-12 convert-box">
            <div class="gem-box">
              <span style="color: #31507E; font-size: 16pt;">{{gems.emerald.rate}}</span>
              <i class="fa fa-diamond gem-blue" aria-hidden="true"></i>
              <span class="gem-name g-text">Sapphire</span>
            </div>

            <span class="arrow"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>

            <div class="gem-box">
              <i class="fa fa-diamond gem-green" aria-hidden="true"></i>
              <span class="gem-name g-text">Emerald</span>
            </div>

            <div class="btn btn-primary" ng-click="convertGem('emerald')" style="height: 39px;line-height: 28px;background: #50ACC4;border: 0px;margin-top: -6px;margin-left: 20px;">
            Exchange Fee 20,000 coins
            </div>

          </div>

          <div class="col-md-12 convert-box">
            <div class="gem-box">
              <span style="color: #8B9E6A; font-size: 16pt;">{{gems.diamond.rate}}</span>
              <i class="fa fa-diamond gem-green" aria-hidden="true"></i>
              <span class="gem-name g-text">Emerald</span>
            </div>

            <span class="arrow"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>

            <div class="gem-box">
              <i class="fa fa-diamond gem-grey" aria-hidden="true"></i>
              <span class="gem-name g-text">Diamond</span>
            </div>

            <div class="btn btn-primary" ng-click="convertGem('diamond')" style="height: 39px;line-height: 28px;background: #50ACC4;border: 0px;margin-top: -6px;margin-left: 20px;">
            Exchange Fee 30,000 coins
            </div>
          </div>




        </div>


        <div class="col-md-12 col-sm-12" style="margin-top: 20px;">
          <h5 class="g-text snap-title">Here's your bags</h5>
          <div class="col-md-12 col-sm-12">

            <div class="col-sm-12 col-md-12 value-box-added pp pull-left coins">
              <span class="pull-left gem-red"><img style="margin-top: -5px;" src="assets/images/money-bag-grey.png"></span>
              <span class="pull-right">{{currentGem.coins}}</span>
              <div class="num-noti" style="margin-left: 53px;"></div>
            </div>

            <div class="col-sm-12 col-md-12 value-box-added pp pull-left ruby">
              <span class="pull-left gem-red"><i class="fa fa-diamond" aria-hidden="true"></i></span>
              <span class="pull-right">{{currentGem.rubies}}</span>
              <div class="num-noti"></div>
            </div>

            <div class="col-sm-12 col-md-12 value-box-added pp pull-left sapphire">
              <span class="pull-left gem-blue"><i class="fa fa-diamond" aria-hidden="true"></i></span>
              <span class="pull-right">{{currentGem.sapphires}}</span>
              <div class="num-noti"></div>
            </div>

            <div class="col-sm-12 col-md-12 value-box-added pp pull-left emerald">
              <span class="pull-left gem-green"><i class="fa fa-diamond" aria-hidden="true"></i></span>
              <span class="pull-right">{{currentGem.emeralds}}</span>
              <div class="num-noti"></div>
            </div>

            <div class="col-sm-12 col-md-12 value-box-added pp pull-left diamond">
              <span class="pull-left"><i class="fa fa-diamond" aria-hidden="true"></i></span>
              <span class="pull-right">{{currentGem.diamonds}}</span>
              <div class="num-noti"></div>
            </div>

          </div>

        </div>


    </div>
  </div>

  <div class="convert-modal" ng-show="showModal">
    <div class="modal-bg" ng-click="showModal=false"></div>
    <div class="modal-content">
      <div class="close-btn" ng-click="showModal=false"><i class="fa fa-times" aria-hidden="true"></i></div>

      <h4>Convert Ruby to Sapphire</h4>
      <h5 class="g-text" style="margin-top: 20px;">You have 31 <span class="gem-red"><i class="fa fa-diamond" aria-hidden="true"></i></span>
      that can be converted to 6 <span class="gem-blue"><i class="fa fa-diamond" aria-hidden="true"></i></span> 30,000 <img style="display:inline-block;height:15px;" src="assets/images/pp-bag.png"> will be deducted.
      </h5>

      <h5 style="margin-top: 20px;" class="g-text">Here is your Loot after the conversion.</h5>

      <div class="col-sm-12 col-md-12 value-box-added pp pull-left change">
        <span class="pull-left"><img class="pig-img" src="assets/images/Piggy Bank Icon.png"></span>
        <span class="pull-right">522,000</span>
      </div>

      <div class="col-sm-12 col-md-12 value-box-added pp pull-left">
        <span class="pull-left"><i class="fa fa-diamond" aria-hidden="true"></i></span>
        <span class="pull-right">5</span>
      </div>

      <div class="col-sm-12 col-md-12 value-box-added pp pull-left">
        <span class="pull-left gem-green"><i class="fa fa-diamond" aria-hidden="true"></i></span>
        <span class="pull-right">22</span>
      </div>

      <div class="col-sm-12 col-md-12 value-box-added pp pull-left change">
        <span class="pull-left gem-blue"><i class="fa fa-diamond" aria-hidden="true"></i></span>
        <span class="pull-right">9</span>
      </div>

      <div class="col-sm-12 col-md-12 value-box-added pp pull-left change">
        <span class="pull-left gem-red"><i class="fa fa-diamond" aria-hidden="true"></i></span>
        <span class="pull-right">31</span>
      </div>
      <div class="col-sm-12 col-md-12">
        <h5 style="margin-top: 20px;" class="g-text">This conversion is irreversible.
          <br>
          Are you sure you want to convert?
        </h5>
      </div>
      <div class="btn get-prize" style="float:none;margin-top: 5px;" ng-click="goDashboard()">CONVERT</div>

    </div>

  </div>



</section>
