<div class="row announcement">
  <div class="col-md-6">
    <h5>New Announcement</h5>
    <div class="input-block">
      <div class="title g-text">Publish Date</div>
      <input type="date">
    </div>
    <div class="input-block">
      <div class="title g-text">Publish Time</div>
      <input>
    </div>
    <div class="input-block">
      <div class="title g-text">Announcement
        <span class="pull-right">0/400</span>
      </div>

      <textarea></textarea>
      <div class="title r-text" style="font-size: 10px;">Please thoroughly check your spelling, grammar, and content before publishing this announcement.</div>
    </div>
    <div class="btn submit-btn pull-left" ng-click="showSystemModal=true">SUBMIT</div>
  </div>

  <div class="col-md-6">
  <h5>Previous Announcement</h5>
    <div class="p-message-block">
      <div class="title">[Date][Time]<span class="pull-right">[User]</span></div>
      <div class="message-box">
        <div class="message g-text">
          Message
        </div>
        <div class="message g-text">
          Message
        </div>
        <div class="message g-text">
          Message
        </div>
      </div>
    </div>

    <div class="p-message-block">
      <div class="title">[Date][Time]<span class="pull-right">[User]</span></div>
      <div class="message-box">
        <div class="message g-text">
          Message
        </div>
        <div class="message g-text">
          Message
        </div>
      </div>
    </div>

    <div class="p-message-block">
      <div class="title">[Date][Time]<span class="pull-right">[User]</span></div>
      <div class="message-box">
        <div class="message g-text">
          Message
        </div>
        <div class="message g-text">
          Message
        </div>
        <div class="message g-text">
          Message
        </div>
      </div>
    </div>

    <div class="p-message-block">
      <div class="title">[Date][Time]<span class="pull-right">[User]</span></div>
      <div class="message-box">
        <div class="message g-text">
          Message
        </div>
        <div class="message g-text">
          Message
        </div>
        <div class="message g-text">
          Message
        </div>
      </div>
    </div>

    <div class="p-message-block">
      <div class="title">[Date][Time]<span class="pull-right">[User]</span></div>
      <div class="message-box">
        <div class="message g-text">
          Message
        </div>
        <div class="message g-text">
          Message
        </div>
      </div>
    </div>

    <div class="p-message-block">
      <div class="title">[Date][Time]<span class="pull-right">[User]</span></div>
      <div class="message-box">
        <div class="message g-text">
          Message
        </div>
        <div class="message g-text">
          Message
        </div>
        <div class="message g-text">
          Message
        </div>
      </div>
    </div>

  </div>

  <div class="system-modal" ng-show="showSystemModal">
    <div class="modal-bg" ng-click="showSystemModal=false"></div>
    <div class="context-box">
      <a class="close-btn" ng-click="showSystemModal=false"><i class="fa fa-times" aria-hidden="true"></i></a>
      <div class="title b-text">Pin</div>
      <div class="desc g-text">Authorized user, enter your pin to confirm submission<br><br>
        <input>
      </div>
      <div class="btn submit-btn" style="display:inherit;margin:auto;margin-top: 20px;" ng-click="showSystemModal=false">VERIFY</div>

    </div>
  </div>

</div>