<article class="content item-editor-page">
  <div class="title-block">
    <h3 class="title">
      Editing Ledger <span class="sparkline bar" data-type="bar"></span>
    </h3>
  </div>
  <%#= link_to 'Show', @ledger, class: 'btn btn-primary btn-sm rounded-s' %>
  <%= link_to 'Back', ledgers_path, class: 'btn btn-primary btn-sm rounded-s' %>
  <%= render 'form', ledger: @ledger %>
</article>
