<div class="row">
  <div class="col-lg-12">
    <h2 style="color: #8066A0">
      <a href="#" style="font-size: 9pt;" ui-sref="main">{{$root.currentUser.username}}</a> Dashboard
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-info" style="padding: 5px 10px 0px 10px;
    line-height: 15px;
    margin-bottom: 5px;" role="alert" ng-repeat="message in $root.currentUser.messages"
    ng-click="openMessage($index)"
    >
      <div class="close-message" ng-click="deleteMessage($index)">{{openMessage}}<i class="fa fa-times" aria-hidden="true" ></i></div>
      <i style="font-size: 25px;color: #999;margin-top:3;" class="fa fa-bullhorn" aria-hidden="true"></i>
      <span class="sr-only"></span>
      <div class="message" ng-class="{'open':$root.openMessage==$index}">{{message.message}}</div>
    </div>
  </div>
</div>
<div style="margin-top: 25px;"></div>
<div class="row">
  <div class="text-head" style="width: 80%; display: inline">
    <div class="flex-main-container">
      <div class="flex-main-header-left">
        Wins
      </div>
      <div style="width: 50px"></div>
      <div class="flex-main-header-right">
        My Loot
      </div>
    </div>
    <div class="flex-main-container">
      <div class="flex-main-item" ui-sref="won" style="background: #8066A0; border: 0px; padding-top: 25px; color: #fff; font-size: 35px; cursor: pointer;">
        {{$root.currentUser.wonContest.length}}
      </div>
      <div style="width: 50px"></div>
      <div class="flex-main-item">
        {{$root.currentUser.coins | currency:"":0}}<br>
        <img src="assets/images/Piggy Bank Icon.png" width="44">
      </div>
      <div class="flex-main-item" style="color: #951111">
        {{$root.currentUser.rubies}} <br>
        <i class="fa fa-diamond" aria-hidden="true"></i>
      </div>
      <div class="flex-main-item" style="color: #2A4C7A">
        {{$root.currentUser.sapphires}} <br>
        <i class="fa fa-diamond" aria-hidden="true"></i>
      </div>
      <div class="flex-main-item" style="color: #758F42">
        {{$root.currentUser.emeralds}} <br>
        <i class="fa fa-diamond" aria-hidden="true"></i>
      </div>
      <div class="flex-main-item" style="color: #9F9B93">
        {{$root.currentUser.diamonds}} <br>
        <i class="fa fa-diamond" aria-hidden="true"></i>
      </div>
    </div>
</div>
<div style="margin-top: 25px;"></div>
