<article class="content responsive-tables-page">
  <div class="title-block">
    <h1 class="title"> Loot Configure </h1>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="card-title-block">
              <h3 class="title"> Loot </h3>
            </div>
            <section class="example">
              <%= render 'form', loot: @loot %>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
