<article class="content item-editor-page">
  <div class="title-block">
    <h3 class="title">
      Editing Advert <span class="sparkline bar" data-type="bar"></span>
    </h3>
  </div>
  <%= link_to 'Show', @advert, class: 'btn btn-primary btn-sm rounded-s' %>
  <%= link_to 'Back', adverts_path, class: 'btn btn-primary btn-sm rounded-s' %>
  <%= render 'form', advert: @advert %>
</article>
