<style>
 a {
   cursor: pointer
 }
</style>
<div class="row contest">
  <div class="col-sm-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" ng-class="({active: menuActiveContest == 'active'})">
        <a ng-click="menu('active')">Home</a>
      </li>
      <li role="presentation" ng-class="({active: menuActiveContest == 'hosting' })"><a ng-click="menu('hosting')">Hosting</a></li>
      <li role="presentation" ng-class="({active: menuActiveContest == 'participating' })"><a ng-click="menu('participating')">Participating</a></li>
      <li role="presentation" ng-class="({active: menuActiveContest == 'completed' })"><a ng-click="menu('completed')">Completed</a></li>
      <li role="presentation" ng-class="({active: menuActiveContest == 'won' })"><a ng-click="menu('won')">Won</a></li>
    </ul>
  </div>

  <div class="col-sm-6">
    <h2>Program List</h2>
    <table class="table">
      <tr ng-repeat="contest in contests">
        <td>{{contest.program}}</td>
        <td>{{contest.name}}</td>
      </tr>
    </table>
  </div>
</div>
