<div ng-include="'components/navbar/navbar.html'"></div>

<section class="add_coin" ng-hide="getCoin">
  <div class="container">
    <div class="row" ng-init="cateFilter = '1'">
      <h3 style="margin-top: 0px;" class="pp-text">
        <img class="money-bag" style="margin-top:-9px;" src="assets/images/pp-bag.png">
        Add Coins
      </h3>
      <h5 class="g-text">Sometimes you just need extra coins in your bank. Earn bonus coins with qualifiled bucket purchases!</h5>
    </div>
    <div class="row" style="padding-top: 20px">

      <table class="table" style="border-radius: 0px;">
        <tbody>
          <tr>
            <td class="pp-text">
              <input type="radio" name="bucket" ng-model="selectedBucket" value="6,250"> &nbsp Wee bucket
            </td>
            <td>
              6,250 + 0% bonus = <span class="bold-text">6,250 coins</span>
            </td>
            <td>
              <span class="bold-text">$ 5.00</span>
            </td>
          </tr>

          <tr>
            <td class="pp-text">
              <input type="radio" name="bucket" ng-model="selectedBucket" value="13,750"> &nbsp Petite bucket
            </td>
            <td>
              12,500 + 10% bonus = <span class="bold-text">13,750 coins</span>
            </td>
            <td>
              <span class="bold-text">$ 10.00</span>
            </td>
          </tr>

          <tr>
            <td class="pp-text">
              <input type="radio" name="bucket" ng-model="selectedBucket" value="34,750"> &nbsp Grande bucket
            </td>
            <td>
              31,250 + 10% bonus = <span class="bold-text">34,375 coins</span>
            </td>
            <td>
              <span class="bold-text">$ 25.00</span>
            </td>
          </tr>

          <tr>
            <td class="pp-text">
              <input type="radio" name="bucket" ng-model="selectedBucket" value="75,000"> &nbsp Full bucket
            </td>
            <td>
              62,500 + 20% bonus = <span class="bold-text">75,000 coins</span>
            </td>
            <td>
              <span class="bold-text">$ 50.00</span>
            </td>
          </tr>

          <tr>
            <td class="pp-text">
              <input type="radio" name="bucket" ng-model="selectedBucket" value="156,250"> &nbsp All In bucket
            </td>
            <td>
              125,000 + 25% bonus = <span class="bold-text">156,250 coins</span>
            </td>
            <td>
              <span class="bold-text">$ 100.00</span>
            </td>
          </tr>

        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-sm-3 col-md-3 value-box">
        <span class="pull-left">Current bank</span>
        <span class="pull-right">0.00</span>
      </div>

      <div class="col-sm-3 col-md-3 value-box gr" style="margin-left: 20px;">
        <span class="pull-left">Coins Added</span>
        <span class="pull-right">{{selectedBucket || 0}}</span>
      </div>

      <div class="col-sm-3 col-md-3 value-box pp pull-right">
        <span class="pull-left">New bank</span>
        <span class="pull-right">{{selectedBucket || '- - -'}}</span>
      </div>


    </div>

    <div class="row terms" style="margin-top: 60px">
      <div class="term-text"><input type="checkbox"> I agree to the
        <span class="b-text">terms of purchase</span>
         and authorize ClubLoot to charge my card for the <span class="bold-text black-text">nonrefundable amount of $10.00</span>
      </div>
    </div>

    <div class="row" style="margin-top: 10px;">
      <div class="btn get-prize" ng-disabled="!selectedBucket" ng-click="getCoin = true">BUY NOW</div>
    </div>

</section>


<section class="added_coin" ng-show="getCoin">
  <div class="container">
    <div class="row">
      <h3 style="margin-top: 0px;" class="pp-text">
        <img class="money-bag" style="margin-top:-9px;" src="assets/images/pp-bag.png">
        Coins Added
      </h3>
      <div class="col-sm-12 col-md-6">
        <h5 class="g-text">Congrats! We just added {{selectedBucket}} coins to your bank.</h5>
        <div class="row hmb" style="margin-top: 40px;">
          <div class="btn get-prize pull-left" ng-click="goDashboard()">DONE</div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <h5 class="g-text snap-title">Here's a snapshot of your Loot.</h5>
        <div class="col-sm-12 col-md-12 value-box-added pp pull-left">
          <span class="pull-left"><img class="pig-img" src="assets/images/Piggy Bank Icon.png"></span>
          <span class="pull-right">{{selectedBucket || '- - -'}}</span>
        </div>

        <div class="col-sm-12 col-md-12 value-box-added pp pull-left">
          <span class="pull-left"><i class="fa fa-diamond" aria-hidden="true"></i></span>
          <span class="pull-right">5</span>
        </div>

        <div class="col-sm-12 col-md-12 value-box-added pp pull-left">
          <span class="pull-left gem-green"><i class="fa fa-diamond" aria-hidden="true"></i></span>
          <span class="pull-right">22</span>
        </div>

        <div class="col-sm-12 col-md-12 value-box-added pp pull-left">
          <span class="pull-left gem-blue"><i class="fa fa-diamond" aria-hidden="true"></i></span>
          <span class="pull-right">9</span>
        </div>

        <div class="col-sm-12 col-md-12 value-box-added pp pull-left">
          <span class="pull-left gem-red"><i class="fa fa-diamond" aria-hidden="true"></i></span>
          <span class="pull-right">31</span>
        </div>

      </div>

    </div>
  </div>
  <div class="row btn-done-box smb" style="margin-top: 40px;">
    <div class="btn get-prize pull-left" ng-click="goDashboard()">DONE</div>
  </div>
</section>




