<div ng-include="'components/navbar/navbar.html'"></div>
<style type="text/css">
  body {
    background: #50ACC4;
  }
</style>

<section class="contest-show desktop">
  <div class="list-box">
    <div class="col-lg-12" style="margin: 0px;padding: 0px;">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="program in programs" ng-class="{menuactive: menu=='program._id'}" ui-sref="contestshow({contest: program._id})">
          <span class="pull-left">{{ program.program }}</span>
          <span class="pull-right" style="color:red;" count-down="{{program.start_time || contest.status}}" id="getting-started"></span>
        </li>
      </ul>
    </div>
  </div>

  <div class="chanel-detail" ng-hide="showContestDetail">
    <div class="row">
    <h3 style="font-weight: 300;">
      <span class="pull-left" style="color:rgb(128,102,160)">{{contest.program}}</span>
      <span class="pull-right btn" style="background:rgb(128,102,160);color:#fff;">26 Q</span>
    </h3>
    </div>
    <div class="row" style="padding-top: 20px">
      <div class="panel panel-default">
        <!-- Default panel contents -->

        <!-- Table -->
        <table class="table" style="border-radius: 0px;">
          <thead style="background:#dedede;">
            <tr>
              <td style="border-radius:0px;width:90px;">Entry Fee</td>
              <td class="loot" style="width:90px;">Loot</td>
              <td>Contest Name</td>
              <td style="width:100px;"></td>
              <td style="width: 120px;padding-right:20px;text-align:center;">Players</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="contest in allContest | orderBy: '-max_player-player.length'" ng-click="showContestDetails(contest)" ng-show="checkActive(contest)" ng-class="{'max-room': contest.max_player<=contest.player.length}">
              <td class="text-blue">{{contest.fee}}
                <img class="money-bag" src="assets/images/money-bag-blue.png">
              </td>
              <td class="loot gem-red">{{contest.prize}}
                <i class="fa fa-diamond" aria-hidden="true"></i>
              </td>
              <td>
                <div class="circle blue">P</div>
                <span class="text-contest text-blue">{{contest.name}}</span>
              </td>
              <td>
                <div class="full-circle blue">M</div>
              </td>
              <td class="text-blue text-right">{{contest.player.length}} / {{contest.max_player}} &nbsp<i class="fa fa-users" aria-hidden="true"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>


  <div class="contest-detail" ng-show="showContestDetail">
    <h4 style="color:rgb(128,102,160);font-weight:300;cursor:pointer;" ng-click="showContestDetail=false">
      <i class="fa fa-chevron-left" aria-hidden="true"></i> {{contestSelection.name}}</h4>
    <div style="text-indent: 19px">Hosted by <span class="text-blue">{{contestSelection.owner}}</span></div>
    <div style="padding: 20px">
      <table class="table" style="border-radius: 0px;">
        <tbody>
          <tr>
            <td class="text-grey" style="color:#999;width:100px;text-align:left;">
              Entry fee
            </td>
            <td class="loot gem-red" style="text-align:left;color:#999;width:230px;">
              {{contestSelection.fee}}
              <img class="money-bag" src="assets/images/money-bag-grey.png">
            </td>
          </tr>

          <tr>
            <td class="text-grey" style="color:#999;width:200px;text-align:left;">
              Loot
            </td>
            <td class="loot gem-red" style="text-align:left;color:#999">
              <i class="fa fa-diamond gem-red"  aria-hidden="true" ng-repeat="i in getNumber(contestSelection.loot.prize) track by $index"></i>
              <!-- <i class="fa fa-diamond gem-red"  aria-hidden="true"></i>
              <i class="fa fa-diamond gem-red"  aria-hidden="true"></i>
              <i class="fa fa-diamond gem-red"  aria-hidden="true"></i>
              <i class="fa fa-diamond gem-red"  aria-hidden="true"></i>
              <i class="fa fa-diamond gem-red"  aria-hidden="true"></i> -->
            </td>
          </tr>

          <tr>
            <td class="text-grey" style="color:#999;width:200px;text-align:left;">
              Stake
            </td>
            <td class="loot" style="text-align:left;color:#999">
              Winner take all
            </td>
          </tr>

          <tr>
            <td class="text-grey" style="color:#999;width:200px;text-align:left;">
              Players
            </td>
            <td class="loot" style="text-align:left;color:#999">
              {{contestSelection.player.length}} / {{contestSelection.max_player}}
            </td>
          </tr>

          <tr>
            <td class="text-grey" style="color:#999;width:200px;text-align:left;">
              Program
            </td>
            <td class="loot" style="text-align:left;color:#999">
              {{contestSelection.program}}
            </td>
          </tr>

          <tr>
            <td class="text-grey" style="color:#999;width:200px;text-align:left;">
              Status
            </td>
            <td class="loot" style="text-align:left;color:#999" id="selectedStatus" ng-hide="eventStarted">
              {{contestSelection.stage}}
            </td>
          </tr>

          <tr style="border-bottom: 1px solid #dedede">
            <td class="text-grey" style="color:#999;width:200px;text-align:left;">
              Challenge
            </td>
            <td class="loot text-blue" style="text-align:left;">
              {{contestSelection.challenge}} Questions
            </td>
          </tr>
        </tbody>
      </table>
      <div ng-show="contestSelection.stage =='runing' && !alreadyJoin" class="btn btn-primary" style="background: #50ACC4;width: 100%;border: 0px;" ng-click="joinContest(contestSelection)" ng-disabled="joinedDisabled">JOIN CONTEST</div>
      <div ng-show="alreadyJoin && contestSelection.stage =='runing' && contestSelection.stage !='cancel'&& contestSelection.stage !='finish'" class="btn btn-primary disabled" style="background: #50ACC4; width: 100%; border: 0px;">WAITING</div>
      <div ng-show="contestSelection.stage=='cancel'" class="btn btn-danger" style="width: 100%;border: 0px;">CANCELED</div>
      <div ng-show="contestSelection.stage=='finish'" class="btn btn-success" style="width: 100%;border: 0px;">LIVE</div>
      <div ng-show="contestSelection.stage=='close'" class="btn btn-default" style="background: #999;color:#fff;width: 100%;border: 0px;">ENDED</div>
    </div>
  </div>

    <div class="room-detail" ng-show="showContestDetail">
      <div style="padding: 20px">
        <h4 style="color: #999">
          <i class="fa fa-users" aria-hidden="true"></i>
          {{contestSelection.player.length}} Players
        </h4>
        <table id="tablePlayers" class="table" style="border-radius: 0px;">
          <tbody>
            <tr ng-repeat="player in contestSelection.player | orderBy:'-score'" ng-click="compairPlayer(player)">
              <td class="text-blue" style="text-align:left;">
                <div class="place-no"><span ng-show="$index<10">0</span>{{$index+1}}</div>{{player.name}}
                <span class="pull-right">
                  {{checkScore(player, $index) || ""}}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<section class="contest-show phone">
  <div class="contest-detail" ng-hide="showPlayerDetail">
    <h4 style="color:rgb(128,102,160);font-weight:300;cursor:pointer;padding: 10px;" ng-click="stepBack()">
      <i class="fa fa-chevron-left" aria-hidden="true"></i> {{menu}}
      <span class="pull-right btn" style="background:rgb(128,102,160);color:#fff;margin-top: -7px;">26 Q</span>
    </h4>
    <table class="table" style="border-radius: 0px;">
      <thead style="background:#dedede;">
        <tr>
          <td style="border-radius:0px;width:90px;">Entry Fee</td>
          <td class="loot" style="width:65px;">Loot</td>
          <td>Contest Name</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-click="showContestDetail='Amazing Chicks of Long Beach'">
          <td class="text-blue">500
            <img class="money-bag" src="assets/images/money-bag-blue.png">
          </td>
          <td class="loot gem-red">06
            <i class="fa fa-diamond" aria-hidden="true"></i>
          </td>
          <td>
            <div class="circle blue">P</div>
            <span class="text-contest text-blue">Amazing Chicks of Long Beach</span>
          </td>
        </tr>
        <tr ng-click="showContestDetail='Bored Frat Boys of Sigma Tau'">
          <td class="text-blue">1,000
            <img class="money-bag" src="assets/images/money-bag-blue.png">
          </td>
          <td class="loot gem-red">12
            <i class="fa fa-diamond" aria-hidden="true"></i>
          </td>
          <td>
            <div class="circle blue">P</div>
            <span class="text-contest text-blue">Bored Frat Boys of Sigma Tau</span>
          </td>
        </tr>
        <tr ng-click="showContestDetail='Don s Digital Dance Squad'">
          <td class="text-blue">12,500
            <img class="money-bag" src="assets/images/money-bag-blue.png">
          </td>
          <td class="loot gem-blue">05
            <i class="fa fa-diamond" aria-hidden="true"></i>
          </td>
          <td>
            <div class="circle blue">H</div>
            <span class="text-contest text-blue">Don's Digital Dance Squad</span>
          </td>
        </tr>
         <tr ng-click="showContestDetail='Diamonds Are Forever'">
          <td class="text-grey">60,000
            <img class="money-bag" src="assets/images/money-bag-grey.png">
          </td>
          <td class="loot gem-grey">02
            <i class="fa fa-diamond" aria-hidden="true"></i>
          </td>
          <td>
            <div class="circle grey">P</div>
            <span class="text-contest text-grey">Diamonds Are Forever</span>
          </td>
        </tr>
        <tr ng-click="showContestDetail='Emerald s Couchsurfing Crew'" style="border-bottom: 1px solid #dedede;">
          <td class="text-grey">25,000
            <img class="money-bag" src="assets/images/money-bag-grey.png">
          </td>
          <td class="loot gem-green">01
            <i class="fa fa-diamond" aria-hidden="true"></i>
          </td>
          <td>
            <div class="circle grey">H</div>
            <span class="text-contest text-grey">Emerald's Couchsurfing Crew</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="contest-detail" ng-show="showContestDetail && !showPlayerDetail">
    <h4 style="color:rgb(128,102,160);font-weight:300;cursor:pointer;" ng-click="showContestDetail=false">
      <i class="fa fa-chevron-left" aria-hidden="true"></i> {{showContestDetail}}</h4>
    <div style="text-indent: 19px">Hosted by <span class="text-blue">mamachick</span></div>
    <div style="padding: 0px">
    <div class="btn btn-primary" style="
    background: #50ACC4;width: 80%;border: 0px;margin: 10px 0px 20px 10%;line-height:30px;height: 40px;font-size: 20px;font-weight: 200;
    ">JOIN CONTEST</div>
      <table class="table" style="border-radius: 0px;">

        <tbody>
          <tr>
            <td class="text-grey" style="color:#999;width:100px;text-align:left;">
              Entry fee
            </td>
            <td class="loot gem-red" style="text-align:left;color:#999;width:230px;">
              500
              <img class="money-bag" src="assets/images/money-bag-grey.png">
            </td>
          </tr>

          <tr>
            <td class="text-grey" style="color:#999;width:200px;text-align:left;">
              Loot
            </td>
            <td class="loot gem-red" style="text-align:left;color:#999">
              <i class="fa fa-diamond gem-red"  aria-hidden="true"></i>
              <i class="fa fa-diamond gem-red"  aria-hidden="true"></i>
              <i class="fa fa-diamond gem-red"  aria-hidden="true"></i>
              <i class="fa fa-diamond gem-red"  aria-hidden="true"></i>
              <i class="fa fa-diamond gem-red"  aria-hidden="true"></i>
              <i class="fa fa-diamond gem-red"  aria-hidden="true"></i>
            </td>
          </tr>

          <tr>
            <td class="text-grey" style="color:#999;width:200px;text-align:left;">
              Stake
            </td>
            <td class="loot" style="text-align:left;color:#999">
              Winner take all
            </td>
          </tr>

          <tr>
            <td class="text-grey" style="color:#999;width:200px;text-align:left;">
              Players
              <i class="fa fa-chevron-right" style="position: absolute; right: 10px;margin-top: 2px;color:#50ACC4;" aria-hidden="true" ng-click="showPlayerDetail=true"></i>
            </td>
            <td class="loot" style="text-align:left;color:#999">
              18/20
            </td>
          </tr>

          <tr>
            <td class="text-grey" style="color:#999;width:200px;text-align:left;">
              Program
            </td>
            <td class="loot" style="text-align:left;color:#999">
              Academy Awards
            </td>
          </tr>

          <tr>
            <td class="text-grey" style="color:#999;width:200px;text-align:left;">
              Status
            </td>
            <td class="loot" style="text-align:left;color:#999">
              Starts in 12 hr 39 min
            </td>
          </tr>

          <tr style="border-bottom: 1px solid #dedede">
            <td class="text-grey" style="color:#999;width:200px;text-align:left;">
              Challenge
              <i class="fa fa-chevron-right" style="position: absolute; right: 10px;margin-top: 2px;color:#50ACC4;" aria-hidden="true"></i>
            </td>
            <td class="loot text-blue" style="text-align:left;">
              26 Questions
            </td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>

  <div class="player-detail" ng-show="showPlayerDetail">
    <h4 style="color:rgb(128,102,160);font-weight:300;cursor:pointer;" ng-click="showPlayerDetail=false">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      18 Players
      <div class="btn btn-primary pull-right" style="background: #50ACC4;border: 0px;margin-right: 20px;">JOIN</div>
    </h4>
    <div style="text-indent: 29px">{{showContestDetail}}</div>
    <br>
    <div style="padding: 0px">

      <table class="table" style="border-radius: 0px;">
        <tbody>
          <tr>
            <td class="text-blue" style="text-align:left;">
              mamachick
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

</section>

<div class="compair-modal" ng-show="selectedCompair">

  <div class="bg"></div>
  <div class="content-box">
    <i class="fa fa-times close-btn" ng-click="selectedCompair = false"></i>
    <h3>Me VS {{selectedCompair.name}}</h3>
      <div class="row">
      <table class="table" style="border-radius: 0px;">
        <tbody>
          <tr>
            <td class="text-blue" style="text-align:left;width: 50%">
            </td>
            <td class="text-blue" style="text-align:left;width: 25%">
              <div style="width: 90%;background:#999;color:#fff;height:100%;text-align: center;line-height: 30px;">
                {{selectedCompair.me.score}}
              </div>
            </td>
            <td class="text-blue" style="text-align:left;width: 25%">
              <div style="width: 90%;background:#50ACC4;color:#fff;height:100%;text-align: center;line-height: 30px;">
                {{selectedCompair.player.score}}
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-blue" style="text-align:left;width: 50%">
              question
            </td>
            <td class="text-blue" style="text-align:left;width: 25%">
              Me
            </td>
            <td class="text-blue" style="text-align:left;width: 25%">
              {{selectedCompair.name}}
            </td>
          </tr>
          <tr ng-repeat="ans in selectedCompair.vs">
            <td class="text-blue" style="text-align:left;width: 50%">
              Q{{$index}}
            </td>
            <td class="text-blue" style="text-align:left;width: 25%">

              {{selectedCompair.user[$index].ans}} <i class="check-ans fa {{checkAns(selectedCompair.user[$index].p, $index)}}" ></i>

            </td>
            <td class="text-blue" style="text-align:left;width: 25%">
              {{selectedCompair.vs[$index].ans}} <i class="check-ans fa {{checkAns(ans.p, $index)}}" ></i>
            </td>
          </tr>

        </tbody>
      </table>
      </div>
  </div>


</div>
