<div ng-include="'components/admin/navbar/adminnavbar.html'"></div>
<section class="admin-system" ng-hide="getPrice" ng-class="{hmb: itemSelected}">
  <div class="container">
    <div class="row" ng-init="cateFilter = '1'">
      <div class="col-sm-12 col-md-12">
        <h3 style="margin-top: 0px; margin-bottom: 10px;" class="pp-text">System</h3>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 10px;">
          <li ng-repeat="menu in menus"
              role="presentation"
              ng-class="{active: systemTab.name == menu.name}"
              ng-click="changeMenu($index)">
            <a>{{menu.name}}</a>
          </li>
        </ul>
        <ui-view></ui-view>
      </div>
    </div>
  </div>
</section>
