<div ng-include="'components/admin/navbar/adminnavbar.html'"></div>


<section class="admin-service" ng-hide="getPrice" ng-class="{hmb: itemSelected}" ng-init="currentTab='1'">
  <div class="container">
    <div class="row" ng-init="cateFilter = '1'">
      <div class="col-sm-12 col-md-12">
        <h3 style="margin-top: 0px;margin-bottom: 40px;" class="pp-text">Services</h3>
        <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" ng-class="{active: currentTab=='1'}" ng-click="currentTab='1'"><a>Current Prizes</a></li>
          <li role="presentation" ng-class="{active: currentTab=='2'}" ng-click="currentTab='2'"><a>Packages</a></li>
          <li role="presentation" ng-class="{active: currentTab=='3'}" ng-click="currentTab='3'"><a>Conversion Rates</a></li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div ng-show="currentTab=='1'">
            <h1>Current Prizes</h1>
          </div>
          <div ng-show="currentTab=='2'">
            <h1>Packages</h1>
          </div>
          <div ng-show="currentTab=='3'">
            <h1>Conversion Rates</h1>
          </div>

        </div>

      </div>
      </div>

    </div>
  </div>
</section>

