<article class="content item-editor-page">
  <div class="title-block">
    <h3 class="title">
      Editing Prize <span class="sparkline bar" data-type="bar"></span>
    </h3>
  </div>
  <%= link_to 'Show', @prize, class: 'btn btn-primary btn-sm rounded-s' %>
  <%= link_to 'Back', prizes_path, class: 'btn btn-primary btn-sm rounded-s' %>
  <%= render 'form', prize: @prize %>
</article>
