
<div class="row">
  <div class="col-sm-6">
    <h3>Pending</h3>
    <table class="table table-bordered">
      <tr>
        <th class="col-sm-5">
          Date Time
        </th>
        <th class="col-sm-5">
          Prize
        </th>
        <th class="col-sm-2">&nbsp;</th>
      </tr>
      <tr ng-repeat="prize in prizes" ng-if="prize.transaction.status == 'pending'">
        <td>
          {{ prize.created_at | amDateFormat:'MM/DD/YYYY HH:mm:ss' }}
        </td>
        <td>
          <a href="#" ng-click="showDetail(prize)">Prize</a>
        </td>
        <td class="text-center">
          <a ng-click="complete(prize._id)" href="#" class="btn" style="background: green; border-radius: 0px; color: #fff">Complete</a>
        </td>
      </tr>
    </table>
  </div>

  <div class="col-sm-6">
    <h3>Completed</h3>
    <table class="table table-bordered">
      <tr>
        <th class="col-sm-4">
          Ship Date Time
        </th>
        <th class="col-sm-5">
          Prize
        </th>
        <th class="col-sm-3">
          Tracking #
        </th>
        <th class="col-sm-3">
          Status
        </th>
      </tr>
      <tr ng-repeat="prize in prizes" ng-if="prize.transaction.status == 'completed'">
        <td>
          {{ prize.updated_at | amDateFormat:'MM/DD/YYYY HH:mm:ss' }}
        </td>
        <td>
          <a href="#" ng-click="showDetail(prize)">Prize</a>
        </td>
        <td>
          {{ prize._id }}
        </td>
        <td>
          {{ prize.transaction.status }}
        </td>
      </tr>
    </table>
  </div>
</div>

<script type="text/ng-template" id="ModalPrizesCtrl.html">
  <div class="modal-header">
    <h3 class="modal-title">Details</h3>
  </div>
  <div class="modal-body">
    <p>User: {{prize.user.name}}</p>
    <p>User: {{prize.user.email}}</p>
    <p>Prize #: {{prize._id}}</p>
    <p>Convert: {{ prize.transaction.from }} -> {{prize.transaction.to}}</p>
    <p>Amount: {{prize.transaction.amount}}</p>
    <p>
      <span>
        {{prize.balance.coins}}
        <img src="assets/images/Piggy Bank Icon.png" width="40">
      </span>
      <span style="color: #951111">
        {{prize.balance.rubies}}
        <i class="fa fa-diamond" aria-hidden="true"></i>
      </span>
      <span style="color: #2A4C7A">
        {{prize.balance.sapphires}}
        <i class="fa fa-diamond" aria-hidden="true"></i>
      </span>
      <span style="color: #758F42">
        {{prize.balance.emeralds}}
        <i class="fa fa-diamond" aria-hidden="true"></i>
      </span>
      <span style="color: #9F9B93">
        {{prize.balance.diamonds}}
        <i class="fa fa-diamond" aria-hidden="true"></i>
        </span>
    </p>
  </div>
</script>
