
<div class="row">
  <div class="col-sm-6">
    <h3>Pending</h3>
    <table class="table table-bordered">
      <tr>
        <th class="col-sm-5">
          Date Time
        </th>
        <th class="col-sm-5">
          Prize
        </th>
        <th class="col-sm-2">&nbsp;</th>
      </tr>
      <tr ng-repeat="prize in prizes" ng-if="prize.transaction.status == 'pending'">
        <td>
          {{ prize.created_at | amDateFormat:'MM/DD/YYYY HH:mm:ss' }}
        </td>
        <td>
          <a href="#" ng-click="showDetail(prize)">Prize</a>
        </td>
        <td class="text-center">
          <a ng-click="editPrize(prize)" href="#" class="btn" style="background: green; border-radius: 0px; color: #fff">Edit</a>
        </td>
      </tr>
    </table>
  </div>

  <div class="col-sm-6">
    <h3>Completed</h3>
    <table class="table table-bordered">
      <tr>
        <th class="col-sm-4">
          Ship Date Time
        </th>
        <th class="col-sm-5">
          Prize
        </th>
        <th class="col-sm-3">
          Tracking #
        </th>
        <th class="col-sm-3">
          Status
        </th>
      </tr>
      <tr ng-repeat="prize in prizes" ng-if="prize.transaction.status == 'completed'">
        <td>
          {{ prize.updated_at | amDateFormat:'MM/DD/YYYY HH:mm:ss' }}
        </td>
        <td>
          <a href="#" ng-click="showDetail(prize)">Prize</a>
        </td>
        <td>
          {{ prize.transaction.tracking_number }}
        </td>
        <td>
          {{ prize.transaction.status }}
        </td>
      </tr>
    </table>
  </div>
</div>

<script type="text/ng-template" id="ModalPrizesEdit.html">
  <form name="prizeEditForm">
    <div class="modal-header">
      Edit Tracking Code
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12">
          <span ng-show="error" style="color: red;">Please input data</span>
        </div>
        <div class="col-xs-6">
          <input type="text" name="tracking" class="form-control" ng-model="prizesEdit.tracking_number" ng-required="required" placeholder="Tracking number" />
        </div>
        <div class="col-xs-6">
          <input type="text" name="carrier" class="form-control" ng-model="prizesEdit.carrier" ng-required="required" placeholder="Carrier"/>
        </div>
      </div>
    </div>
    <div class="modal-footer" style="text-align: center">
      <a ng-click="submit()" class="btn" style="border-radius: 0px; background: green; color: #fff;">Mark as shipped</a>
    </div>
  </form>
</script>

<script type="text/ng-template" id="ModalPrizesCtrl.html">
  <div class="modal-header">
    <h3 class="modal-title">Details</h3>
  </div>
  <div class="modal-body">
    <p>User: {{prize.user.name}}</p>
    <p>User: {{prize.user.email}}</p>
    <p>Prize #: {{prize._id}}</p>
    <p>Convert: {{ prize.transaction.from }} -> {{prize.transaction.to}}</p>
    <p>Amount: {{prize.transaction.amount}}</p>
    <p>
      <span>
        {{prize.balance.coins}}
        <img src="assets/images/Piggy Bank Icon.png" width="40">
      </span>
      <span style="color: #951111">
        {{prize.balance.rubies}}
        <i class="fa fa-diamond" aria-hidden="true"></i>
      </span>
      <span style="color: #2A4C7A">
        {{prize.balance.sapphires}}
        <i class="fa fa-diamond" aria-hidden="true"></i>
      </span>
      <span style="color: #758F42">
        {{prize.balance.emeralds}}
        <i class="fa fa-diamond" aria-hidden="true"></i>
      </span>
      <span style="color: #9F9B93">
        {{prize.balance.diamonds}}
        <i class="fa fa-diamond" aria-hidden="true"></i>
        </span>
    </p>
  </div>
</script>
