
<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-sm-12">
        <div class="btn btn-default pull-right" ng-click="update()">
          Update
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p>&nbsp;</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">

        <div class="row">
          <div class="col-sm-4 record-table">
            Username:
          </div>
          <div class="col-sm-8 record-table">
            <input type="text" ng-model="user.username" placeholder="Username">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 record-table">
            Email:
          </div>
          <div class="col-sm-8 record-table">
            <input type="text" ng-model="user.email" placeholder="Email">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 record-table">
            First name:
          </div>
          <div class="col-sm-8 record-table">
            <input type="text" ng-model="user.first_name" placeholder="First name">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 record-table">
            Middle name:
          </div>
          <div class="col-sm-8 record-table">
            <input type="text" ng-model="user.middle_name" placeholder="Middle name">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 record-table">
            Last name:
          </div>
          <div class="col-sm-8 record-table">
            <input type="text" ng-model="user.last_name" placeholder="Last name">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 record-table">
            Birthday:
          </div>
          <div class="col-sm-8 record-table">
            <input type="text" ng-model="user.birthday" placeholder="Birthday" dob-check>
          </div>
        </div>
        <!--<div class="row">
          <div class="col-sm-4 record-table">
            Billing Address:
          </div>
          <div class="col-sm-8 record-table">
            <input type="text" ng-model="user.billing_address" placeholder="Billing Address">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 record-table">
            City:
          </div>
          <div class="col-sm-8 record-table">
            <input type="text" ng-model="user.billing_city" placeholder="City">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 record-table">
            State:
          </div>
          <div class="col-sm-8 record-table">
            <input type="text" ng-model="user.billing_state" placeholder="State">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 record-table">
            Zip Code:
          </div>
          <div class="col-sm-8 record-table">
            <input type="text" ng-model="user.billing_zipcode" placeholder="Zip Code">
          </div>
        </div>-->
        <div class="row">
          <div class="col-sm-4 record-table">
            Mailing Address:
          </div>
          <div class="col-sm-8 record-table">
            <input type="text" ng-model="user.mailing_addresss" placeholder="Mailing Address">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 record-table">
            City:
          </div>
          <div class="col-sm-8 record-table">
            <input type="text" ng-model="user.mailing_city" placeholder="City">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 record-table">
            State:
          </div>
          <div class="col-sm-8 record-table">
            <input type="text" ng-model="user.mailing_state" placeholder="State">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 record-table">
            Zip Code:
          </div>
          <div class="col-sm-8 record-table">
            <input type="text" ng-model="user.mailing_zipcode" placeholder="Zip Code">
          </div>
        </div>

      </div>
      <div class="col-sm-1">

      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-4 record-table">
            Total logins:
          </div>
          <div class="col-sm-8 record-table">
            {{user.total_logins}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 record-table">
            Consecutive logins:
          </div>
          <div class="col-sm-8 record-table">
            {{user.consecutive_logins}}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 record-table">
            <i class="fa fa-diamond gem-grey" aria-hidden="true"></i> Diamonds:
          </div>
          <div class="col-sm-8 record-table">
            <input type="text" ng-model="user.diamonds">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 record-table">
            <i class="fa fa-diamond gen-green" aria-hidden="true"></i> Emeralds:
          </div>
          <div class="col-sm-8 record-table">
            <input type="text" ng-model="user.emeralds">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 record-table">
            <i class="fa fa-diamond gem-blue" aria-hidden="true"></i> Sapphires:
          </div>
          <div class="col-sm-8 record-table">
            <input type="text" ng-model="user.sapphires">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 record-table">
            <i class="fa fa-diamond gem-red" aria-hidden="true"></i> Rubies
          </div>
          <div class="col-sm-8 record-table">
            <input type="text" ng-model="user.rubies">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 record-table">
            <img class="money-bag" src="assets/images/Money Bag Icon.png" style="width:16px;"> Coins
          </div>
          <div class="col-sm-8 record-table">
            <input type="text" ng-model="user.coins">
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-sm-4 record-table">
            <i class="fa fa-diamond" aria-hidden="true"></i>
          </div>
          <div class="col-sm-8 record-table">
            xxxxxxxx
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
