.adminuser
  a
    cursor: pointer

  .link-contest
    cursor: pointer
  .link-contest:hover
    div
      text-decoration: underline

  .fa-plus
    color: #1AAE54
  .fa-minus
    color: #BE5150

  .record-prize
    color: #84BED8

  table.table.notes
    th
      background: #F2F2F2

