
.flex-container
  display: -webkit-flex
  display: flex
  width: 100%
  margin: 10px 0px
  .flex-item
    flex: 1
    height: 150px
    margin-left: 5px
    margin-right: 5px
    text-align: center
    vertical-align: middle
    padding-top: 10px
    padding-bottom: 10px
    cursor: pointer

  .upcomming
    border: 1px solid #BE0C35
    color: #BE0C35
  .future
    border: 1px solid #A6A6A6
    color: #A6A6A6
  .soon
    border: 1px solid #F5964F
    color: #F5964F

  .item-hover
    margin-top: -10px
    img
      height: 150px
      width: 100%

.phone
  display: none

section.contest-show
  .list-group
    border-radius: 0px

  .list-group-item
    border-color: #fff
    background: #d2d2d2
    border-radius: 0px
    height: 40px
    font-weight: 300
    border-left: none
    border-right: none
    color: #fff
    cursor: pointer
    &:last-child, &:first-child
      border-radius: 0px !important

  td
    &:first-child, &:last-child
      border-radius: 0px !important

  .panel
    border-radius: 0px !important

  .chanel-detail tr
    cursor: pointer

  .list-box
    position: absolute
    top: 50px
    bottom: 0px
    width: 250px
    left: 0px
    background: #d2d2d2
    box-sizing: border-box
    padding-right: 1px
    overflow-y: auto

  .chanel-detail
    position: absolute
    left: 260px
    box-sizing: border-box
    right: 0px
    top: 50px
    bottom: 0px
    overflow-y: auto
    background: #fff
    padding: 0px 40px
    font-weight: 400 !important

  .contest-detail, .player-detail
    position: absolute
    left: 260px
    box-sizing: border-box
    width: 400px
    top: 50px
    bottom: 0px
    overflow-y: auto
    background: #fff
    padding: 10px
    font-weight: 400 !important

  .room-detail
    position: absolute
    left: 670px
    box-sizing: border-box
    right: 0px
    top: 50px
    bottom: 0px
    overflow-y: auto
    background: #fff
    padding: 10px
    font-weight: 400 !important

  td:first-child
    text-align: right

  .loot
    text-align: center

  .gem-red
    color: rgb(158, 9, 63)

  .gem-blue
    color: rgb(49, 80, 126)

  .gem-grey
    color: rgb(139, 134, 130)

  .gem-green
    color: rgb(128, 149, 92)

  .circle
    position: absolute
    width: 20px
    text-align: center
    height: 20px
    line-height: 20px
    font-weight: 300
    font-size: 12px
    border-radius: 50px
    display: inline-block
    &.blue
      border: 1px solid rgb(116, 205, 234)
      color: rgb(116, 205, 234)
    &.grey
      border: 1px solid rgb(212, 212, 212)
      color: rgb(212, 212, 212)

  .text-contest
    margin-left: 25px

  .text-blue
    color: rgb(116, 205, 234)

  .text-grey
    color: rgb(212, 212, 212)

  .money-bag
    display: inline-block
    width: 20px
    margin-top: -3px

  .tbody td:last-child
    text-align: right

  .text-right
    text-align: right
    padding-right: 30px !important

  .full-circle
    width: 20px
    text-align: center
    height: 20px
    line-height: 20px
    font-weight: 300
    font-size: 12px
    border-radius: 50px
    display: inline-block
    color: #fff
    &.blue
      background: rgb(116, 205, 234)
    &.grey
      background: rgb(212, 212, 212)

  .menuactive
    background: rgb(147, 205, 221)

@media (max-width: 768px)
  section.contest-show.phone
    .contest-detail, .player-detail
      left: 0px
      width: 100%
      padding: 0
    .player-detail
      background: #fff
      text-indent: 5px
  .desktop
    display: none
  .phone
    display: block

    .list
      border-top: 1px solid #ccc
      // border-right: 1px solid #ccc
      margin: 10px 0px
      padding-top: 15px
      font-size: 20px

section.contest-new
  .smb
    display: none
  .term-text
    height: auto
  .checked-icon
    color: green
    position: absolute
    right: 25px
    margin-top: 8px
    font-size: 20px
  input
    border: 1px solid #dedede
    border-radius: 4px
    height: 30px
  select
    height: 30px
  .box-left, .box-right
    width: 50%
    font-size: 14px
  .box-left
    line-height: 30px
  .in-contest-name
    width: 100%
  .row.terms
    background: #fff!important
    line-height: 25px!important
    border: 1px solid #dedede
    padding-left: 10px
  .btn
    border-radius: 0px
  .q-box
    display: block
    cursor: pointer
    border-top: 1px solid #dedede
    padding: 7px
    width: 100%
    input
      height: auto
    li
      display: block
  .invite-mail
    width: 100%
    height: 200px
    margin-top: 20px
    resize: none
    border: 1px solid #dedede
  .social-icon
    padding-left: 15px
    i
      color: #999
      font-size: 30px

@media (max-width: 768px)
  section.contest-new
    .smb
      display: block
    .hmb
      display: none
    .box-left, .box-right
      width: 100%
      padding-left: 5px
      padding-right: 5px
    .col-md-10
      padding-left: 0px
      padding-right: 0px
