<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container desktop">
  <div class="row">
    <div class="col-lg-12">
      <span style="color: #8066A0; font-size: 24px;">Contests</span>
      <a class="btn btn-default btn-lg btn-register pull-right" style="background-color: #50ACC4; color: #fff" href="/contest/new">
        + New Contest
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-sm-2" ng-repeat="contest in contests" ng-mouseover="hoverIn($index)" ng-mouseleave="hoverOut($index)" ui-sref="contestshow({contest: contest._id})">
           <div class="flex-container upcomming show-{{$index}}">
             <div class="item-show">
               <p>{{contest.program}}</p>
               <p>{{contest.prize}}</p>
               <p>Starts in</p>
               <p>12 hr 39 min</p>
             </div>
             <div class="item-hover">
               <img src="assets/images/contest/academy-awards.png">
             </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid phone">
  <div class="row">
    <div class="col-lg-12">
      <span style="color: #8066A0; font-size: 24px;">Contests</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12" style="text-align: center;">
      <a class="btn btn-default btn-lg btn-register" style="color: #50ACC4; border: 1px solid #50ACC4">
        + New Contest
      </a>
    </div>
  </div>

  <div class="list" style="cursor: pointer" ng-click="selectContest('Academy Awards')">
    <img src="assets/images/contest/academy-awards.png" width="44" height="44">
    <span>Academy Awards</span> <span>[6,543]</span>
    <div class="pull-right">
      12:22 <span style="font-size: 30px; line-height: 20px; color: #50ACC4">></span>
    </div>
  </div>
  <div class="list" style="cursor: pointer" ng-click="selectContest('Amazing Race')">
    <img src="assets/images/contest/amazing-race.png" width="44" height="44">
    <span>Amazing Race</span> <span>[6,543]</span>
    <div class="pull-right">
      12:22 <span style="font-size: 30px; line-height: 20px; color: #50ACC4">></span>
    </div>
  </div>
  <div class="list" style="cursor: pointer" ng-click="selectContest('The Bachelor')">
    <img src="assets/images/contest/the-bachelor.png" width="44" height="44">
    <span>The Bachelor</span> <span>[6,543]</span>
    <div class="pull-right">
      12:22 <span style="font-size: 30px; line-height: 20px; color: #50ACC4">></span>
    </div>
  </div>
  <div class="list" style="cursor: pointer" ng-click="selectContest('The Bachelorette')">
    <img src="assets/images/contest/the-bachelorette.png" width="44" height="44">
    <span>The Bachelorette</span> <span>[6,543]</span>
    <div class="pull-right">
      12:22 <span style="font-size: 30px; line-height: 20px; color: #50ACC4">></span>
    </div>
  </div>
  <div class="list" style="cursor: pointer" ng-click="selectContest('Big Brother')">
    <img src="assets/images/contest/big-brother.png" width="44" height="44">
    <span>Big Brother</span> <span>[6,543]</span>
    <div class="pull-right">
      12:22 <span style="font-size: 30px; line-height: 20px; color: #50ACC4">></span>
    </div>
  </div>
  <div class="list" style="cursor: pointer" ng-click="selectContest('Emmy Awards')">
    <img src="assets/images/contest/emmy-awards.png" width="44" height="44">
    <span>Emmy Awards</span> <span>[6,543]</span>
    <div class="pull-right">
      12:22 <span style="font-size: 30px; line-height: 20px; color: #50ACC4">></span>
    </div>
  </div>
  <div class="list" style="cursor: pointer" ng-click="selectContest('Golden Globes')">
    <img src="assets/images/contest/golden-globes.png" width="44" height="44">
    <span>Golden Globes</span> <span>[6,543]</span>
    <div class="pull-right">
      12:22 <span style="font-size: 30px; line-height: 20px; color: #50ACC4">></span>
    </div>
  </div>
  <div class="list" style="cursor: pointer" ng-click="selectContest('Grammy Awards')">
    <img src="assets/images/contest/grammy-awards.png" width="44" height="44">
    <span>Grammy Awards</span> <span>[6,543]</span>
    <div class="pull-right">
      12:22 <span style="font-size: 30px; line-height: 20px; color: #50ACC4">></span>
    </div>
  </div>
  <div class="list" style="cursor: pointer" ng-click="selectContest('Survivor')">
    <img src="assets/images/contest/survivor.png" width="44" height="44">
    <span>Survivor</span> <span>[6,543]</span>
    <div class="pull-right">
      12:22 <span style="font-size: 30px; line-height: 20px; color: #50ACC4">></span>
    </div>
  </div>
</div>
