<div ng-include="'components/navbar/navbar.html'"></div>

<section class="contest-new" ng-init="createNewStep='1'" ng-hide="newPlayer">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3 style="margin-top: 0px;" class="pp-text">
          <img class="money-bag" style="margin-top:-4px;width: 25px;" src="assets/images/icon-trophy.png">
          Edit Contest
        </h3>
        <h5 class="g-text" style="text-indent: 10px;">Answer [ xx ] questions for your [ program ] contest.</h5>
        <div class="main-q-box">
          <div ng-repeat="player in contests.player" ng-if="player.uid==current_user._id">
            <div ng-repeat="(i, q) in contest.ques track by i" class="g-text">
              <i class="fa fa-check-circle checked-icon" aria-hidden="true" ng-show="qaSelection[i]"></i>
              <div class="q-box" ng-click="openAns(i)">Question {{q.title}}</div>
              <div class="q-box ans" ng-repeat="(x,a) in q.answers track by x" >
                <input type=radio id="rad{{i}}{{x}}" ng-model="qaSelection[i]" value="{{x}}" ng-checked="x == player.answers[i]">{{a.title}}
              </div>
            </div>
          </div>
          <div class="btn get-prize" style="margin-top: 20px;" ng-click="addScore()">Save changes</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contest-new" ng-init="createNewStep='1'" ng-show="newPlayer">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3 style="margin-top: 0px;" class="pp-text">
          <img class="money-bag" style="margin-top:-4px;width: 25px;" src="assets/images/icon-trophy.png">
          Join Contest
        </h3>
        <h5 class="g-text" style="text-indent: 10px;">Answer [ xx ] questions for your [ program ] contest.</h5>
        <div class="main-q-box">
            <div ng-repeat="(i, q) in contest.ques track by i" class="g-text">
              <i class="fa fa-check-circle checked-icon" aria-hidden="true" ng-show="qaSelection[i]"></i>
              <div class="q-box" ng-click="openAns(i)">Question {{q.title}}</div>
              <div class="q-box ans" ng-repeat="(x,a) in q.answers track by x">
                <input type=radio ng-model="qaSelection[i]" value="{{x}}" ng-checked="x == player.answers[i]">{{a.title}}
              </div>
            </div>
          <div class="btn get-prize" style="margin-top: 20px;" ng-click="joinNewContest()">Confirm and Join Contest</div>
        </div>
      </div>
    </div>
  </div>
</section>
