<div ng-include="'components/navbar/navbar.html'"></div>
<style type="text/css">
  body {
    background: #50ACC4;
  }

  .list-group{
    border-radius: 0px;
  }
  .list-group-item {
    border-color: #fff;
    background: #d2d2d2;
    border-radius: 0px;
    height: 40px;
    font-weight: 300;
    border-left: none;
    border-right: none;
    color: #fff;
    cursor: pointer;
  }
  .list-group-item:last-child, .list-group-item:first-child, td:first-child, td:last-child, .panel {
    border-radius: 0px!important;
  }

  .chanel-detail tr {
    cursor: pointer;
  }

  .list-box {
    position: absolute;
    top: 50px;
    bottom: 0px;
    width: 250px;
    left: 0px;
    background: #d2d2d2;
    box-sizing: border-box;
    padding-right: 1px;
    overflow-y: auto;
  }

  .chanel-detail {
    position: absolute;
    left: 260px;
    box-sizing: border-box;
    right: 0px;
    top: 50px;
    bottom: 0px;
    overflow-y: auto;
    background: #fff;
    padding: 0px 40px;
    font-weight: 400!important;
  }

  .contest-detail {
    position: absolute;
    left: 260px;
    box-sizing: border-box;
    width: 400px;
    top: 50px;
    bottom: 0px;
    overflow-y: auto;
    background: #fff;
    padding: 10px;
    font-weight: 400!important;
  }

  .room-detail {
    position: absolute;
    left: 670px;
    box-sizing: border-box;
    right: 0px;
    top: 50px;
    bottom: 0px;
    overflow-y: auto;
    background: #fff;
    padding: 10px;
    font-weight: 400!important;
  }

  td:first-child {
    text-align: right;
  }
  .loot {
    text-align: center;
  }
  .gem-red {
    color: rgb(158,9,63);
  }
  .gem-blue {
    color: rgb(49,80,126);
  }
  .gem-grey {
    color: rgb(139,134,130);
  }
  .gem-green {
    color: rgb(128,149,92);
  }

  .circle {
    position: absolute;
    width: 20px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    font-weight: 300;
    font-size: 12px;
    border-radius: 50px;
    display: inline-block;
  }
  .circle.blue {
    border: 1px solid rgb(116,205,234);
    color: rgb(116,205,234);
  }
  .circle.grey {
    border: 1px solid rgb(212,212,212);
    color: rgb(212,212,212);
  }

  .text-contest {
    margin-left: 25px;
  }

  .text-blue {
    color: rgb(116,205,234);
  }
  .text-grey {
    color: rgb(212,212,212);
  }

  .money-bag {
    display: inline-block;
    width: 20px;
    margin-top: -3px;
  }

  .tbody td:last-child {
    text-align: right;
  }

  .text-right {
    text-align: right;
    padding-right: 30px!important;
  }

  .full-circle {
    width: 20px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    font-weight: 300;
    font-size: 12px;
    border-radius: 50px;
    display: inline-block;
    color: #fff;
  }

  .full-circle.blue {
    background: rgb(116,205,234);
  }

  .full-circle.grey {
    background: rgb(212,212,212);
  }
  .menuactive {
    background:rgb(147,205,221);
  }


</style>
  <div class="list-box">
    <div class="col-lg-12" style="margin: 0px;padding: 0px;">
      <ul class="list-group">
        <li class="list-group-item" ng-class="{menuactive: menu=='Academy Awards'}" ng-click="menu='Academy Awards'">
          <span class="pull-left">Academy Awards</span>
          <span class="pull-right" style="color:red;">12:39</span>
        </li>
        <li class="list-group-item" ng-class="{menuactive: menu=='Amazing Race'}" ng-click="menu='Amazing Race'">
          <span class="pull-left">Amazing Race</span>
          <span class="pull-right">Jun 24</span>
        </li>
        <li class="list-group-item" ng-class="{menuactive: menu=='Bechelor'}" ng-click="menu='Bechelor'">
          <span class="pull-left">Bechelor</span>
          <span class="pull-right">Jan 3 2017</span>
        </li>
        <li class="list-group-item" ng-class="{menuactive: menu=='Bechelorette'}" ng-click="menu='Bechelorette'">
          <span class="pull-left">Bechelorette</span>
          <span class="pull-right">Jun 8</span>
        </li>
        <li class="list-group-item" ng-class="{menuactive: menu=='Big Brother'}" ng-click="menu='Big Brother'">
          <span class="pull-left">Big Brother</span>
          <span class="pull-right" style="color: red;">0:16</span>
        </li>
        <li class="list-group-item" ng-class="{menuactive: menu=='Emmy Awards'}" ng-click="menu='Emmy Awards'">
          <span class="pull-left">Emmy Awards</span>
          <span class="pull-right">Nov 8</span>
        </li>
        <li class="list-group-item" ng-class="{menuactive: menu=='Golden Globes'}" ng-click="menu='Golden Globes'">
          <span class="pull-left">Golden Globes</span>
          <span class="pull-right">Sep 10</span>
        </li>
        <li class="list-group-item" ng-class="{menuactive: menu=='Grammy Awards'}" ng-click="menu='Grammy Awards'">
          <span class="pull-left">Grammy Awards</span>
          <span class="pull-right">Oct 15</span>
        </li>
        <li class="list-group-item" ng-class="{menuactive: menu=='Survivor'}" ng-click="menu='Survivor'">
          <span class="pull-left">Survivor</span>
          <span class="pull-right">Jun 10</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="chanel-detail" ng-hide="showContestDetail">
    <div class="row">
    <h3 style="font-weight: 300;">
      <span class="pull-left" style="color:rgb(128,102,160)">{{menu}}</span>
      <span class="pull-right btn" style="background:rgb(128,102,160);color:#fff;">26 Q</span>
    </h3>
    </div>
    <div class="row" style="padding-top: 20px">
      <div class="panel panel-default">
        <!-- Default panel contents -->

        <!-- Table -->
        <table class="table" style="border-radius: 0px;">
          <thead style="background:#dedede;">
            <tr>
              <td style="border-radius:0px;width:90px;">Entry Fee</td>
              <td class="loot" style="width:90px;">Loot</td>
              <td>Contest Name</td>
              <td style="width:100px;"></td>
              <td style="width: 120px;padding-right:20px;text-align:center;">Players</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-click="showContestDetail='Amazing Chicks of Long Beach'">
              <td class="text-blue">500
                <img class="money-bag" src="assets/images/money-bag-blue.png">
              </td>
              <td class="loot gem-red">06
                <i class="fa fa-diamond" aria-hidden="true"></i>
              </td>
              <td>
                <div class="circle blue">P</div>
                <span class="text-contest text-blue">Amazing Chicks of Long Beach</span>
              </td>
              <td>
                <div class="full-circle blue">M</div>
              </td>
              <td class="text-blue text-right">18/20 &nbsp<i class="fa fa-users" aria-hidden="true"></i></td>
            </tr>
            <tr ng-click="showContestDetail='Bored Frat Boys of Sigma Tau'">
              <td class="text-blue">1,000
                <img class="money-bag" src="assets/images/money-bag-blue.png">
              </td>
              <td class="loot gem-red">12
                <i class="fa fa-diamond" aria-hidden="true"></i>
              </td>
              <td>
                <div class="circle blue">P</div>
                <span class="text-contest text-blue">Bored Frat Boys of Sigma Tau</span>
              </td>
              <td>
                <div class="full-circle blue">M</div>
              </td>
              <td class="text-blue text-right">09/20 &nbsp<i class="fa fa-users" aria-hidden="true"></i></td>
            </tr>
            <tr ng-click="showContestDetail='Don s Digital Dance Squad'">
              <td class="text-blue">12,500
                <img class="money-bag" src="assets/images/money-bag-blue.png">
              </td>
              <td class="loot gem-blue">05
                <i class="fa fa-diamond" aria-hidden="true"></i>
              </td>
              <td>
                <div class="circle blue">H</div>
                <span class="text-contest text-blue">Don's Digital Dance Squad</span>
              </td>
              <td>
                <div class="full-circle blue">G</div>
                <div class="full-circle blue">M</div>
              </td>
              <td class="text-blue text-right">10/100 &nbsp<i class="fa fa-users" aria-hidden="true"></i></td>
            </tr>
             <tr ng-click="showContestDetail='Diamonds Are Forever'">
              <td class="text-grey">60,000
                <img class="money-bag" src="assets/images/money-bag-grey.png">
              </td>
              <td class="loot gem-grey">02
                <i class="fa fa-diamond" aria-hidden="true"></i>
              </td>
              <td>
                <div class="circle grey">P</div>
                <span class="text-contest text-grey">Diamonds Are Forever</span>
              </td>
              <td>
                <div class="full-circle blue">M</div>
              </td>
              <td class="text-grey text-right">20/20 &nbsp<i class="fa fa-users" aria-hidden="true"></i></td>
            </tr>
            <tr ng-click="showContestDetail='Emerald s Couchsurfing Crew'">
              <td class="text-grey">25,000
                <img class="money-bag" src="assets/images/money-bag-grey.png">
              </td>
              <td class="loot gem-green">01
                <i class="fa fa-diamond" aria-hidden="true"></i>
              </td>
              <td>
                <div class="circle grey">H</div>
                <span class="text-contest text-grey">Emerald's Couchsurfing Crew</span>
              </td>
              <td></td>
              <td class="text-grey text-right">02/02 &nbsp<i class="fa fa-users" aria-hidden="true"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>


  <div class="contest-detail" ng-show="showContestDetail">
    <h4 style="color:rgb(128,102,160);font-weight:300;cursor:pointer;" ng-click="showContestDetail=false">
      <i class="fa fa-chevron-left" aria-hidden="true"></i> {{showContestDetail}}</h4>
    <div style="text-indent: 19px">Hosted by <span class="text-blue">mamachick</span></div>
    <div style="padding: 20px">
      <table class="table" style="border-radius: 0px;">

        <tbody>
          <tr>
            <td class="text-grey" style="color:#999;width:100px;text-align:left;">
              Entry fee
            </td>
            <td class="loot gem-red" style="text-align:left;color:#999;width:230px;">
              500
              <img class="money-bag" src="assets/images/money-bag-grey.png">
            </td>
          </tr>

          <tr>
            <td class="text-grey" style="color:#999;width:200px;text-align:left;">
              Loot
            </td>
            <td class="loot gem-red" style="text-align:left;color:#999">
              <i class="fa fa-diamond gem-red"  aria-hidden="true"></i>
              <i class="fa fa-diamond gem-red"  aria-hidden="true"></i>
              <i class="fa fa-diamond gem-red"  aria-hidden="true"></i>
              <i class="fa fa-diamond gem-red"  aria-hidden="true"></i>
              <i class="fa fa-diamond gem-red"  aria-hidden="true"></i>
              <i class="fa fa-diamond gem-red"  aria-hidden="true"></i>
            </td>
          </tr>

          <tr>
            <td class="text-grey" style="color:#999;width:200px;text-align:left;">
              Stake
            </td>
            <td class="loot" style="text-align:left;color:#999">
              Winner take all
            </td>
          </tr>

          <tr>
            <td class="text-grey" style="color:#999;width:200px;text-align:left;">
              Players
            </td>
            <td class="loot" style="text-align:left;color:#999">
              18/20
            </td>
          </tr>

          <tr>
            <td class="text-grey" style="color:#999;width:200px;text-align:left;">
              Program
            </td>
            <td class="loot" style="text-align:left;color:#999">
              Academy Awards
            </td>
          </tr>

          <tr>
            <td class="text-grey" style="color:#999;width:200px;text-align:left;">
              Status
            </td>
            <td class="loot" style="text-align:left;color:#999">
              Starts in 12 hr 39 min
            </td>
          </tr>

          <tr style="border-bottom: 1px solid #dedede">
            <td class="text-grey" style="color:#999;width:200px;text-align:left;">
              Challenge
            </td>
            <td class="loot text-blue" style="text-align:left;"">
              26 Questions
            </td>
          </tr>

        </tbody>
      </table>
      <div class="btn btn-primary" style="background: #50ACC4;width: 100%;border: 0px;">JOIN CONTEST</div>
    </div>

    </div>

    <div class="room-detail" ng-show="showContestDetail">
      <div style="padding: 20px">
      <h4 style="color: #999">
        <i class="fa fa-users" aria-hidden="true"></i>
        18 Players
      </h4>
      <table class="table" style="border-radius: 0px;">
        <tbody>
          <tr>
            <td class="text-blue" style="text-align:left;">
              mamachick
            </td>
          </tr>
          <tr>
            <td class="text-blue" style="text-align:left;">
              alluringchick
            </td>
          </tr>
          <tr>
            <td class="text-blue" style="text-align:left;">
              cattychick
            </td>
          </tr>
          <tr>
            <td class="text-blue" style="text-align:left;">
              chickmagnet
            </td>
          </tr>
          <tr>
            <td class="text-blue" style="text-align:left;">
              fiestychick
            </td>
          </tr>
          <tr>
            <td class="text-blue" style="text-align:left;">
              fridatata
            </td>
          </tr>
          <tr>
            <td class="text-blue" style="text-align:left;">
              glamourchic
            </td>
          </tr>
          <tr>
            <td class="text-blue" style="text-align:left;">
              luxtina
            </td>
          </tr>
          <tr>
            <td class="text-blue" style="text-align:left;">
              luxurious
            </td>
          </tr>
          <tr>
            <td class="text-blue" style="text-align:left;">
              mostchic
            </td>
          </tr>
          <tr>
            <td class="text-blue" style="text-align:left;">
              nostalgia
            </td>
          </tr>
          <tr>
            <td class="text-blue" style="text-align:left;">
              openminded
            </td>
          </tr>
          <tr>
            <td class="text-blue" style="text-align:left;">
              Status
            </td>
          </tr>
          <tr>
            <td class="text-blue" style="text-align:left;">
              superchic
            </td>
          </tr>
          <tr>
            <td class="text-blue" style="text-align:left;">
              superfine
            </td>
          </tr>
          <tr>
            <td class="text-blue" style="text-align:left;">
              superwomen
            </td>
          </tr>
          <tr>
            <td class="text-blue" style="text-align:left;">
              talentedamy
            </td>
          </tr>
          <tr>
            <td class="text-blue" style="text-align:left;">
              trainwreck
            </td>
          </tr>
          <tr>
            <td class="text-blue" style="text-align:left;">
              utterfly
            </td>
          </tr>

        </tbody>
      </table>
    </div>

    </div>


  </div>












