<div ng-include="'components/admin/navbar/adminnavbar.html'"></div>
<section class="admin-dashboard" ng-hide="getPrice" ng-class="{hmb: itemSelected}">
  <div class="container">
    <div class="row" ng-init="cateFilter = '1'">
      <div class="col-sm-12 col-md-6">
        <h3 style="margin-top: 0px;margin-bottom: 40px;" class="pp-text">Dashboard</h3>

        <div class="btn btn-primary" style="background:#50ACC4;border-color:#dedede;">Today</div>
        <input id="ex2" type="text" data-slider-min="-5" data-slider-max="20" data-slider-step="1" data-slider-value="0"/>
        <div class="btn btn-primary" style="background:#50ACC4;border-color:#dedede;">5/11/55</div>
        <div class="row" style="margin-top: 30px;">
          <div class="a-value-box col-md-4">
            <div class="in-value-box">
              <div class="num">123,456</div>
              <div class="title">Players</div>
            </div>
          </div>
          <div class="a-value-box col-md-4">
            <div class="in-value-box">
              <div class="num">234,567</div>
              <div class="title">Tournaments</div>
            </div>
          </div>
          <div class="a-value-box col-md-4">
            <div class="in-value-box">
              <div class="num">9,876</div>
              <div class="title">Prizes Claimed</div>
            </div>
          </div>
          <div class="a-value-box col-md-4">
            <div class="in-value-box">
              <div class="num">12,345,678,901</div>
              <div class="title">Lootconomy</div>
            </div>
          </div>
          <div class="a-value-box col-md-4">
            <div class="in-value-box">
              <div class="num">1,098,765,432</div>
              <div class="title">Taxes Collected</div>
            </div>
          </div>
          <div class="a-value-box col-md-4">
            <div class="in-value-box">
              <div class="num">83.4%</div>
              <div class="title">Log Ins</div>
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 30px;">
          <h5>Upcoming Programs</h5>
          <!-- Table -->
        <table class="table" style="border-radius: 0px;">
          <tbody>
            <tr>
              <td>
                Program
              </td>
              <td>
                Start
              </td>
              <td>
                Contests
              </td>
              <td>
                Coins
              </td>
            </tr>

            <tr>
              <td class="b-text">
                Big Brother
              </td>
              <td class="r-text">
                00:16
              </td>
              <td>
                10,778
              </td>
              <td>
                44,556,778
              </td>
            </tr>

            <tr>
              <td class="b-text">
                Academy Awards
              </td>
              <td class="r-text">
                12:39
              </td>
              <td>
                21,125
              </td>
              <td>
                90,123,456
              </td>
            </tr>

            <tr>
              <td class="b-text">
                Bachelorette
              </td>
              <td>
                Jun 08
              </td>
              <td>
                592
              </td>
              <td>
                1,223,544
              </td>
            </tr>

            <tr>
              <td class="b-text">
                Survivor
              </td>
              <td>
                Jun 10
              </td>
              <td>
                81
              </td>
              <td>
                999,009
              </td>
            </tr>

            <tr>
              <td class="b-text">
                Amazing Race
              </td>
              <td>
                Jun 24
              </td>
              <td>
                10
              </td>
              <td>
                299,112
              </td>
            </tr>

          </tbody>
        </table>
        </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <h5 style="font-weight: 600!important;font-size:16px;">The Rich List</h5>
        <ul class="list-group">
          <li class="list-group-item" ng-class="{menuactive: menu=='Academy Awards'}" ng-click="menu='Academy Awards'">
            <span class="pull-left b-text">[sereen_name]</span>
            <span class="pull-right g-text">Coins</span>
          </li>
          <li class="list-group-item" ng-class="{menuactive: menu=='Academy Awards'}" ng-click="menu='Academy Awards'">
            <span class="pull-left b-text">[sereen_name]</span>
            <span class="pull-right g-text">Coins</span>
          </li>
          <li class="list-group-item" ng-class="{menuactive: menu=='Academy Awards'}" ng-click="menu='Academy Awards'">
            <span class="pull-left b-text">[sereen_name]</span>
            <span class="pull-right g-text">Coins</span>
          </li>
          <li class="list-group-item" ng-class="{menuactive: menu=='Academy Awards'}" ng-click="menu='Academy Awards'">
            <span class="pull-left b-text">[sereen_name]</span>
            <span class="pull-right g-text">Coins</span>
          </li>
          <li class="list-group-item" ng-class="{menuactive: menu=='Academy Awards'}" ng-click="menu='Academy Awards'">
            <span class="pull-left b-text">[sereen_name]</span>
            <span class="pull-right g-text">Coins</span>
          </li>
          <li class="list-group-item" ng-class="{menuactive: menu=='Academy Awards'}" ng-click="menu='Academy Awards'">
            <span class="pull-left b-text">[sereen_name]</span>
            <span class="pull-right g-text">Coins</span>
          </li>
          <li class="list-group-item" ng-class="{menuactive: menu=='Academy Awards'}" ng-click="menu='Academy Awards'">
            <span class="pull-left b-text">[sereen_name]</span>
            <span class="pull-right g-text">Coins</span>
          </li>
          <li class="list-group-item" ng-class="{menuactive: menu=='Academy Awards'}" ng-click="menu='Academy Awards'">
            <span class="pull-left b-text">[sereen_name]</span>
            <span class="pull-right g-text">Coins</span>
          </li>
          <li class="list-group-item" ng-class="{menuactive: menu=='Academy Awards'}" ng-click="menu='Academy Awards'">
            <span class="pull-left b-text">[sereen_name]</span>
            <span class="pull-right g-text">Coins</span>
          </li>
          <li class="list-group-item" ng-class="{menuactive: menu=='Academy Awards'}" ng-click="menu='Academy Awards'">
            <span class="pull-left b-text">[sereen_name]</span>
            <span class="pull-right g-text">Coins</span>
          </li>
          <li class="list-group-item" ng-class="{menuactive: menu=='Academy Awards'}" ng-click="menu='Academy Awards'">
            <span class="pull-left b-text">[sereen_name]</span>
            <span class="pull-right g-text">Coins</span>
          </li>
          <li class="list-group-item" ng-class="{menuactive: menu=='Academy Awards'}" ng-click="menu='Academy Awards'">
            <span class="pull-left b-text">[sereen_name]</span>
            <span class="pull-right g-text">Coins</span>
          </li>

        </ul>
      </div>

    </div>

  </div>
</section>
