<div ng-include="'components/admin/navbar/adminnavbar.html'"></div>
<section class="admin-dashboard" ng-hide="getPrice" ng-class="{hmb: itemSelected}">
  <div class="container">
    <div class="row" ng-init="cateFilter = '1'">
      <div class="col-sm-12 col-md-6">
        <h3 style="margin-top: 0px;margin-bottom: 40px;" class="pp-text">Dashboard</h3>

        <div class="btn btn-primary" ng-click="filterToday()" style="background:#50ACC4;border-color:#dedede;">Just Today</div>
        <div style="display:inline-block;">From</div>
        <input class="datetimepicker form-control" style="width:100px;display:inline-block;" type="text" ng-model="filterDate.from" required>

        <div style="display:inline-block;">To</div>
        <input class="datetimepicker form-control" style="width:100px;display:inline-block;" type="text" ng-model="filterDate.to" required>

        <div class="btn btn-primary" ng-click="getDataByDate()"style="background:#50ACC4;border-color:#dedede;">Go</div>



        <div class="row" style="margin-top: 30px;">
          <div class="a-value-box col-md-4">
            <div class="in-value-box">
              <div class="num">{{player}}</div>
              <div class="title">Players</div>
            </div>
          </div>
          <div class="a-value-box col-md-4">
            <div class="in-value-box">
              <div class="num">{{tournament}}</div>
              <div class="title">Tournaments</div>
            </div>
          </div>
          <div class="a-value-box col-md-4">
            <div class="in-value-box">
              <div class="num">{{prize | currency:"":0}}</div>
              <div class="title">Prizes Claimed</div>
            </div>
          </div>
          <div class="a-value-box col-md-4">
            <div class="in-value-box">
              <div class="num">{{economy | currency:"":0}}</div>
              <div class="title">Lootconomy</div>
            </div>
          </div>
          <div class="a-value-box col-md-4">
            <div class="in-value-box">
              <div class="num">{{tax | currency:"":0}}</div>
              <div class="title">Taxes Collected</div>
            </div>
          </div>
          <div class="a-value-box col-md-4">
            <div class="in-value-box">
              <div class="num">{{signinPercent | currency:"":2 || 0}}%</div>
              <div class="title">Log Ins</div>
            </div>
          </div>
        </div>
        <div class="row" style="padding-top: 30px;">
          <h5>Upcoming Programs</h5>
          <!-- Table -->
          <table class="table" style="border-radius: 0px;">
            <tbody>
              <tr>
                <td>
                  Program
                </td>
                <td>
                  Start
                </td>
                <td>
                  Contests
                </td>
                <td>
                  Coins
                </td>
              </tr>
              <tr ng-repeat="program in programs">
                <td class="b-text">
                  {{program.contest.program}}
                </td>
                <td class="r-text" count-down="{{program.contest.end_time || program.contest.status}}"></td>
                <td>
                  {{program.total.total_contest}}
                </td>
                <td>
                  {{program.total.total_coin}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <h5 style="font-weight: 600!important;font-size:16px;">The Rich List</h5>
        <ul class="list-group">
          <li ng-repeat="rc in rich" class="list-group-item" ng-class="{menuactive: menu=='Academy Awards'}" ng-click="menu='Academy Awards'">
            <span class="pull-left b-text">[{{ rc.first_name || rc.username }}]</span>
            <span class="pull-right g-text">{{ rc.coins }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
