<nav class="nav flex-column">
  <a class="nav-link active" href="#">Announcements</a>
  <a class="nav-link" href="#">Daily Loot</a>
  <a class="nav-link" href="#">Programming</a>
  <a class="nav-link" href="#">Ledger</a>
  <a class="nav-link" href="#">Prizes</a>
  <a class="nav-link" href="#">Taxes</a>
  <a class="nav-link" href="#">Gems</a>
  <a class="nav-link" href="#">Users</a>
  <a class="nav-link" href="#">Winners</a>
  <a class="nav-link" href="#">Free Loot</a>
  <a class="nav-link" href="#">Subscribe</a>
</nav>
